
@{
    ViewBag.Title = "Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Plasmids = ViewBag.Plasmids;
    var Features = ViewBag.Features;
    var msg = (string)TempData["msg"];
}

<div class="row">
    <div class="col-xs-offset-2 col-sm-offset-1 col-sm-10">
        <h3 class="text-warning text-center">Compare Plasmids</h3>
    </div>
</div>
<span id="decodeIt" class="hidden"></span>
<div class="row">
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <p id="error" class="text-danger text-center"></p>
        <p id="msg" class="text-info text-center"></p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-xs-12">
                    <label for="plasmid" class="required">Search plasmids to compare:</label>
                    <input type="text" name="plasmid" class="form-control" id="plasmid">
                </div>
            </div>

            <div class="form-group">                
                <div class="col-md-offset-10 col-md-2 col-sm-offset-9 col-sm-3 col-xs-12">
                    <br />
                    <input type="submit" id="compare" value="Compare Plasmids" class="btn btn-block btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-11 col-lg-offset-1" id="maps">

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/giraffe")
<script src="~/Scripts/ecloning.js"></script>
<script>
    var Plasmids = ("@Plasmids");
    Plasmids = LoadData(Plasmids);

    var Features = ("@Features");
    Features = LoadData(Features);

    try {
        data = JSON.parse(Plasmids);
        Features = JSON.parse(Features);
        //token list
        $(document).ready(function () {
            $("#plasmid").tokenInput(data, {
                theme: 'facebook',
                hintText: 'Type plasmid name to search',
                //tokenLimit: 1,
                propertyToSearch: "name",
                preventDuplicates: true,
                resultsFormatter: function (item) { return "<li><p><b style='color: red'>" + item.name + " </b><span style='color: gray'>" + item.length + "bp" + "</span></p></li>" },
                tokenFormatter: function (item) { return "<li><p><b style='color: red'>" + item.name + "</b></p></li>" },
            });

            $("form div ul").addClass('token-input-list-facebook form-control text-box single-line');
        });

    } catch (e)
    {
        console.log(e);
        $('#error').text("Unable to load plasmid data, please try again later!");
        $("#compare").addClass("disabled");
    }


    //submit form
    $('#compare').click(compare);


    function compare(event) {
        //alert("submitted!");
        event.preventDefault();
        var idString = $('#plasmid').val();
        if (!idString.trim()) {
            $('#error').text("You haven't selected any plasmid!");
            $('#msg').text(null);
        }
        //get id list and then generate maps and remove duplicates
        var idArray = unique(idString.split(','));
        //remove all the divs
        $("#maps").empty();
                
        //append dom to show map
        $.each(idArray, function (i, d) {
            //add dom
            var mapDiv = $("#maps").append("<div id=\"map-" + d + "\" class=\"col-xs-12 col-sm-6\"></div>");

            var mapId = "map-" + d;
            draw1Map(Features, mapId, d, 848, 648);
        });
   
        //redraw maps
        $('svg text tspan').click({ idArray: idArray, width: 848, height: 648 }, redrawMap);
        $('#error').text(null);
        $('#msg').text('Click the feature name to rotate the maps.');

    };
</script>