@model ecloning.Models.plasmid

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>plasmid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expression_system)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expression_system)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expression_subsystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expression_subsystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.promotor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promotor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.polyA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.polyA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reporter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reporter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.selection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.selection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plasmid_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plasmid_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ref_plasmid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ref_plasmid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img_fn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img_fn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addgene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addgene)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.d)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.d)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submitted_to_group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitted_to_group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shared_with_group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shared_with_group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shared_with_people)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shared_with_people)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.person.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.person.first_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
