@model IEnumerable<ecloning.Models.plasmid>
@{
    ViewBag.Title = "Plasmid";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Count = (int)ViewBag.Count;
    //features
    var Features = ViewBag.Features;
    //combined plasmid IDs
    var PlasmidIDs = ViewBag.plasmidIds;
    //for the shared
    int GroupCount = (int)ViewBag.GroupCount;
    var msg = (string)TempData["msg"];
}
<span id="decodeIt" class="hidden"></span>
<div class="">
    <div class="col-sm-2 col-sm-offset-1">
        <h3 class="text-warning">Plasmids</h3>
    </div>
    <div class="col-sm-2 col-xs-3">
        <h3 class="hidden-xs">
            <a class="btn btn-sm btn-danger topButton" href="@Url.Action("Create", "Plasmid")">
                <i class="fa fa-plus-circle"></i>
                <span>Plasmid</span>
            </a>
        </h3>
        <a class="btn btn-sm btn-danger hidden-sm hidden-md hidden-lg topButton" href="@Url.Action("Create", "Plasmid")">
            <i class="fa fa-plus-circle"></i>
            <span>Plasmid</span>
        </a>
    </div>
@if (Count > 0)
{
    <div class="col-sm-2 col-xs-3">
        <h3 class="hidden-xs">
            <a class="btn btn-sm btn-default topButton" href="@Url.Action("Search", "Plasmid", new { scope ="personal"})">
                <i class="glyphicon glyphicon-search"></i>
                <span>Advanced Search</span>
            </a>
        </h3>
        <a class="btn btn-sm btn-default hidden-sm hidden-md hidden-lg topButton" href="@Url.Action("Search", "Plasmid", new { scope ="personal"})">
            <i class="glyphicon glyphicon-search"></i>
            <span>Advanced Search</span>
        </a>
    </div>
    <div class="col-sm-2 col-xs-3">
        <h3 class="hidden-xs">
            <a class="btn btn-sm btn-default topButton" target="_blank" href="@Url.Action("Compare", "Plasmid")">
                <i class="fa fa-sun-o"></i>
                <i style="position:relative; left:-10px;" class="fa fa-sun-o"></i>
                <span style="position:relative; left:-6px;">Compare Plasmids</span>
            </a>
        </h3>
        <a class="btn btn-sm btn-default hidden-sm hidden-md hidden-lg topButton" target="_blank" href="@Url.Action("Compare", "Plasmid")">
            <i class="fa fa-sun-o"></i>
            <i style="position:relative; left:-10px;" class="fa fa-sun-o"></i>
            <span style="position:relative; left:-6px;">Compare Plasmids</span>
        </a>
    </div>
    <div class="col-sm-2 col-xs-3">
        <h3 class="hidden-xs">
            <a class="btn btn-sm btn-default topButton" href="@Url.Action("Overview", "Plasmid")">
                <i class="fa fa-th"></i>
                <span>Plasmids Overview</span>
            </a>
        </h3>
        <a class="btn btn-sm btn-default hidden-sm hidden-md hidden-lg topButton" href="@Url.Action("Overview", "Plasmid")">
            <i class="fa fa-th"></i>
            <span>Plasmids Overview</span>
        </a>
    </div>
}

</div>
@if (Count > 0)
{
    <div class="">
        <div class="col-sm-1 pull-right">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-right">
            <div class="pull-right">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input id="searchPlasmid" type="text" class="form-control" placeholder="Search plasmid names...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="clearText">
                            <i class="fa fa-remove"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
}
<div class="clearfix"></div>
<p class="text-danger text-center">@msg</p>
<div class="clearfix"></div>
@if (Count == 0)
{
    <p class="text-center text-info">No plasmid found!</p>
}
else
{
    <div class="">
        <div class="col-sm-1 hidden-xs"></div>
        <div class="col-sm-10">
            @foreach (var item in Model)
            {
                string id = null;
                string refId = "#";
                id = item.name;
                refId = refId + id;
                var mapId = "map-" + item.id.ToString();
                //for submit
                string shareId = "share-" + item.id.ToString();
                string hrefShareId = "#" + shareId;

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="plasmidDiv">
                        <div class="col-xs-12 noPadding text-center text-primary">@item.name</div>
                        <div class="col-xs-12">
                            <a href="@Url.Action("Index", "Map", new { id = item.id, tag="personDispaly" })">
                                <div id="@mapId"></div>
                            </a>
                            <div id="@item.id" class="hidden">
                                <a href="@Url.Action("Index", "Map", new { id = item.id, tag="personDispaly" })">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                                        <i class="fa fa-plus fa-stack-1x text-danger"></i>
                                    </span>
                                </a>
                                <br />
                                <br />
                            </div>
                        </div>
                        <div class="col-xs-12 noPadding plasmidBottom">
                            <div class="col-xs-offset-4">
                                <a href="@Url.Action("Edit", "Plasmid", new { id = item.id })">
                                    <i class="fa fa-pencil-square-o text-info"></i>
                                </a>
                                <span>&nbsp;</span>
                                <a href="@Url.Action("Delete", "Plasmid", new { id = item.id })">
                                    <i class="glyphicon glyphicon-trash text-info"></i>
                                </a>
                                <span>&nbsp;</span>
                                <!-- Trigger the modal with a button -->
                                <a data-toggle="modal" href="@Url.Action("SharePlasmid", "Plasmid", new { id = item.id })" data-target=@hrefShareId>
                                    <i class="fa fa-share-alt text-info"></i>
                                </a>
                                <!-- Modal -->
                                <div id=@shareId class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title text-center text-info">Submit Plasmid to Group(s)</h4>
                                            </div>
                                            <div class="modal-body"></div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-sm-1 hidden-xs"></div>
    </div>
    if (Model.Count() > 0)
    {
        <div>
            <br />
            <br />
        </div>
    }
    <div class="">
        <div class="col-sm-1 hidden-xs"></div>
        <div class="col-sm-10">
            @for (int tag = 1; tag <= GroupCount; tag++)
            {
                if (ViewData["groupName" + tag] != null && ViewData["sharePlasmid" + tag] != null)
                {
                    string groupName = (string)ViewData["groupName" + tag];
                    IQueryable<ecloning.Models.plasmid> Plasmids = (IQueryable<ecloning.Models.plasmid>)ViewData["sharePlasmid" + tag];
                    <div id=@groupName>
                        @foreach (var item in Plasmids.ToList())
                        {
                            string id = null;
                            string refId = "#";
                            id = groupName + item.name;
                            refId = refId + id;
                            var mapId = "map-" + item.id.ToString();

                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                <div class="plasmidDiv">
                                    <div class="col-xs-12 noPadding text-center text-warning">@item.name</div>
                                    <div class="col-xs-12">
                                        <a href="@Url.Action("Index", "Map", new { id = item.id, tag="groupDispaly" })">
                                            <div id="@mapId"></div>
                                        </a>
                                        <div class="col-xs-offset-5 hidden" id="@item.id.ToString()">
                                            <a href="@Url.Action("Index", "Map", new { id = item.id, tag="groupDispaly" })">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                    <i class="fa fa-plus fa-stack-1x text-danger"></i>
                                                </span>
                                            </a>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 noPadding plasmidBottom">

                                        @if (User.IsInRole("GroupLeader") || User.IsInRole("Assistant"))
                                        {
                                            <div class="col-xs-offset-4">
                                                <i class="fa fa-pencil-square-o text-muted"></i>
                                                <span>&nbsp;</span>
                                                <i class="glyphicon glyphicon-trash text-muted"></i>
                                                <span>&nbsp;</span>
                                                <a href="@Url.Action("unSharePlasmid", "Plasmid", new { id = item.id })" data-toggle="tooltip" title="Unshare this plasmid!">
                                                    <span class="fa-stack fa-lg">
                                                        <i class="fa fa-share-alt text-muted fa-stack-1x"></i>
                                                        <i class="fa fa-times-circle-o fa-stack-1x text-danger"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-xs-offset-4">
                                                <i class="fa fa-pencil-square-o text-muted"></i>
                                                <span>&nbsp;</span>
                                                <i class="glyphicon glyphicon-trash text-muted"></i>
                                                <span>&nbsp;</span>
                                                <i class="fa fa-share-alt text-muted"></i>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }

            }
        </div>
        <div class="col-sm-1 hidden-xs"></div>
    </div>
}


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/giraffe")


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $('.plasmidDiv').mouseover(function () {
        $(this).addClass("sendTop");
    })
    $('.plasmidDiv').mouseout(function () {
        $(this).removeClass("sendTop");
    })

    $('.topButton').mouseover(function () {
        $(this).addClass("sendTop");
    })
    $('.topButton').mouseout(function () {
        $(this).removeClass("sendTop");
    })
    
    $(window).load(function () {

        //get plasmid ids
        var PlasmidIDs = ("@PlasmidIDs");
        document.getElementById("decodeIt").innerHTML = PlasmidIDs;
        PlasmidIDs = document.getElementById("decodeIt").innerText;

        //get fearues
        var Features = ("@Features");
        document.getElementById("decodeIt").innerHTML = Features;
        Features = document.getElementById("decodeIt").innerText;

        try{
            Features = JSON.parse(Features);
            PlasmidIDs = JSON.parse(PlasmidIDs);
            //console.log(Features);
            var idArray = [];
            $.each(PlasmidIDs, function (i, b) {
                    idArray.push("map-" + b);
            });
            //console.log(idArray);
            //draw maps
            $.each(idArray, function (index, value) {
                mapId = value;
                //get the plasmid id
                var pieces = mapId.split('-');
                var plasmidId = +pieces[pieces.length - 1];
                //filter featrues
                //console.log(plasmidId);
                //console.log(Features);
                var currentFeatures = $.grep(Features, function (n, i) {
                    return n.pId === plasmidId;
                });
                //console.log(currentFeatures);
                if (currentFeatures.length > 0) {
                    pName = currentFeatures[0].pName;
                    pCount = currentFeatures[0].pSeqCount;
                    pId = currentFeatures[0].pId;

                    delete currentFeatures['pId'];
                    delete currentFeatures['pName'];
                    delete currentFeatures['pCount'];

                    fData = [pCount, currentFeatures];

                    width = ($("#" + mapId).width() <= 200 ? 200 : $("#" + mapId).width());
                    height = ($("#" + mapId).height() <= 200 ? 200 : $("#" + mapId).height());


                    if ($('#' + mapId).length != 0) {
                        //draw the map
                        var gd = GiraffeDraw();
                        gd.read(fData);
                        gd.CircularMap({
                            'map_dom_id': mapId,
                            'plasmid_name': pName,
                            'map_width': width,
                            'map_height': height
                        });
                    }
                }
            });
        }
        catch (e) {
            console.log(e);
        }

        //display the link if the map is not shown
        $.each(PlasmidIDs, function (i, v) {
            if ($('#map-' + v).is(':empty')) {
                $('#' + v).removeClass('hidden');
            }
        });
    });
</script>

<script>
    $(function () {
        $('#searchPlasmid').keyup(function () {
            var _text = $(this).val().toLowerCase();
            $('.plasmidDiv').each(function () {
                $(this).parent().removeClass("hidden");
                $(this).parent().addClass("hidden");
                var _aText = $(this).find('div').eq(0).text().toLowerCase().replace(/\s+/g, '');
                if (RegExp('^' + _text).test(_aText) || _aText.indexOf(_text) >= 0) {
                    $(this).parent().removeClass("hidden");
                    $(this).fadeIn(400);
                };
            });
        });

        $('#clearText').click(function (e) {
            e.preventDefault();
            $('#searchPlasmid').val('');
            $('.plasmidDiv').each(function () {
                $(this).parent().removeClass("hidden");
                $(this).fadeIn(400);
            });
        });
    });
</script>