@model IEnumerable<ecloning.Models.plasmid>

@{
    ViewBag.Title = "Plasmid";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string id = null;
    string refId = "#";
}
<div class="row">
    <div class="col-sm-2">
        <h3 class="text-warning">Plasmids</h3>
    </div>
    <div class="col-sm-10">
        <h3>
            <a class="btn btn-sm btn-primary" href="@Url.Action("Create", "Plasmid")">
                <i class="glyphicon glyphicon-plus text-danger"></i>
                <span>Add Plasmid</span>
            </a>
        </h3>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover table-condensed">
        @foreach (var item in Model)
        {
            id = item.name;
            refId = refId + id;
            <tr>
                <td>
                    <span class="text-danger">@Html.DisplayFor(modelItem => item.name)</span>&nbsp;&nbsp;
                    <span>
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target=@refId><i class="glyphicon glyphicon-eye-open  text-warning"></i>&nbsp;Full Sequence</button>
                        <!-- Modal -->
                        <div id=@id class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title text-center text-info">Plasmid full sequence</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10">
                                                <p class="text-center">-- @item.name --</p><br/>
                                                @Html.DisplayFor(modelItem => item.sequence)
                                            </div>
                                            <div class="col-sm-1"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>

                    <br/>
                    <span class="text-info"><strong>Expression: </strong></span><span>@Html.DisplayFor(modelItem => item.expression_system)</span>&nbsp;&nbsp;<span>@Html.DisplayFor(modelItem => item.expression_subsystem)</span><br />
                    <span class="text-info"><strong>Gene: </strong></span><span>@Html.DisplayFor(modelItem => item.insert_species)</span>&nbsp;&nbsp;<span>@Html.DisplayFor(modelItem => item.insert)</span>&nbsp;&nbsp;<span class="text-info"><strong>Promotor: </strong></span><span>@Html.DisplayFor(modelItem => item.promotor)</span>&nbsp;&nbsp;<span class="text-info"><strong>PolyA: </strong></span><span>@Html.DisplayFor(modelItem => item.polyA)</span><br />
                    <span class="text-info"><strong>Resistance: </strong></span><span>@Html.DisplayFor(modelItem => item.resistance)</span>&nbsp;&nbsp;<span class="text-info"><strong>Selection: </strong></span><span>@Html.DisplayFor(modelItem => item.selection)</span>&nbsp;&nbsp;<span class="text-info"><strong>Reporter: </strong></span><span>@Html.DisplayFor(modelItem => item.reporter)</span><br />
                    <span class="text-info"><strong>Experimental Use: </strong></span><span>@Html.DisplayFor(modelItem => item.usage)</span>&nbsp;&nbsp;<span class="text-info"><strong>Plasmid Type: </strong></span><span>@Html.DisplayFor(modelItem => item.plasmid_type)</span><br />
                    <br/>
                    <span class="text-info"><strong>Linked File: </strong></span><span>@Html.DisplayFor(modelItem => item.img_fn)</span>&nbsp;&nbsp;<span class="text-info"><strong>Linked Plasmid(s): </strong></span><span>@Html.DisplayFor(modelItem => item.ref_plasmid)</span>&nbsp;&nbsp;<span class="text-info"><strong>Addgene#: </strong></span><span>@Html.DisplayFor(modelItem => item.addgene)</span><br />
                    <span class="text-info"><strong>Status: </strong></span><span>@if(item.submitted_to_group ==true) { <span>Submitted to group plasmid libaray</span>}</span>&nbsp;&nbsp;<span>@if(item.shared_with_group ==true) { <span>Added to group plasmid libaray</span>}</span>&nbsp;&nbsp;<span>@if(item.shared_with_group ==true) { <span>Added to group plasmid libaray</span>}</span>&nbsp;&nbsp;<span>@if(item.shared_with_people != null) { <span>Shared with: @item.shared_with_people</span>}</span><br/>
                    <br/>
                    <span class="text-info"><strong>Remarks: </strong></span><span>@Html.DisplayFor(modelItem => item.des)</span>
                </td>
                <td>
                    <span>Plasmid Map</span>
                </td>

                <td>
                    @if (item.submitted_to_group != true || item.shared_with_group != true)
                    {
                        <a href="@Url.Action("Edit", "Plasmid", new { id = item.id })">
                            <i class="glyphicon glyphicon-pencil text-info"></i>
                            <span>Edit</span>
                        </a>
                        <br />
                        <a href="@Url.Action("Delete", "Plasmid", new { id = item.id })">
                            <i class="glyphicon glyphicon-trash text-info"></i>
                            <span>Delete</span>
                        </a>
                    }
                </td>
            </tr>
        }

    </table>
</div>

