@model IEnumerable<ecloning.Models.plasmid>
@{
    ViewBag.Title = "Search Plasmid";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new ecloning.Models.ecloningEntities();
    int Count = (int)ViewBag.Count;
    string name = (string)ViewBag.name;
    string insert = (string)ViewBag.insert;
    int sharedPlasmidCount =(int)ViewBag.sharedPlasmidCount;
    List<int> sharedPlasmidId = null;
    if(sharedPlasmidCount > 0)
    {
        sharedPlasmidId = (List<int>)ViewBag.sharedPlasmidId;
    }
}

<div class="row">
    <div class="col-sm-11 col-sm-offset-1 text-center">
        <h3 class="text-warning">Find Plasmids</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-1 hidden-xs">

    </div>
    <div class="col-sm-10">
        <hr class="dotted-line" />
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="display: inline-block">
                            <div class="form-group">
                                @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6 col-xs-12">
                                    @Html.Editor("name", new { htmlAttributes = new { @class = "form-control", @Value=name } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Insert/Gene", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6 col-xs-12">
                                    @Html.Editor("insert", new { htmlAttributes = new { @class = "form-control", @Value = insert } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Expression System", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6 col-xs-12">
                                    @Html.DropDownList("expression_system", null, "--  Select  --", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Promoter", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6 col-xs-12">
                                    @Html.DropDownList("promotor", null, "--  Select  --", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Poly A", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6 col-xs-12">
                                    @Html.DropDownList("polyA", null, "--  Select  --", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="display: inline-block">
                            <div class="form-group">
                                @Html.Label("Resistance", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6 col-xs-12">
                                    <span class="text-info" style="font-size:85%"><em>Resistance 1:</em></span><br/>
                                    @Html.DropDownList("resistance1", null, "--  Select  --", htmlAttributes: new { @class = "form-control" })
                                    <span class="text-info" style="font-size:85%"><em>Resistance 2:</em></span><br />
                                    @Html.DropDownList("resistance2", null, "--  Select  --", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Selection", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6 col-xs-12">
                                    <span class="text-info" style="font-size:85%"><em>Marker 1:</em></span><br />
                                    @Html.DropDownList("selection1", null, "--  Select  --", htmlAttributes: new { @class = "form-control" })
                                    <span class="text-info" style="font-size:85%"><em>Marker 2:</em></span><br />
                                    @Html.DropDownList("selection2", null, "--  Select  --", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="display: inline-block">
                            <div class="form-group">
                                @Html.Label("Reporter", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6 col-xs-12">
                                    @Html.DropDownList("reporter", null, "--  Select  --", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Experimental Use", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6 col-xs-12">
                                    <span class="text-info" style="font-size:85%"><em>Usage 1:</em></span><br />
                                    @Html.DropDownList("usage1", null, "--  Select  --", htmlAttributes: new { @class = "form-control" })
                                    <span class="text-info" style="font-size:85%"><em>Usage 2:</em></span><br />
                                    @Html.DropDownList("usage2", null, "--  Select  --", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-4 col-lg-offset-4 col-md-6 col-xs-12">
                                    <input type="submit" value="Find Plasmid" class="btn btn-block btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-sm-1 hidden-xs">

    </div>
</div>



<br/>
@if (Count > -2)
{
     <div class="row">
        <div class="col-sm-11 col-sm-offset-1 text-center">
            <h3 class="text-warning">Plasmids Found</h3>
        </div>
    </div>
        if (Count == -1)
        {
            //user have not typed anything when clicking the search button
            <div class="row">

                <div class="col-sm-1 hidden-xs"></div>
                <div class="col-sm-10 col-xs-12">
                    <hr class="dotted-line" />
                    <h4 class="text-danger col-sm-offset-1">You haven't typed anything.</h4>
                </div>
            </div>
        }
        else if(Count == 0)
        {
            //nothing found
            <div class="row">
                <div class="col-sm-1 hidden-xs"></div>
                <div class="col-sm-10 col-xs-12">
                    <hr class="dotted-line" />
                    <h4 class="text-danger col-sm-offset-1">No matched plasmid!</h4>
                </div>
            </div>
        }
        else
        {
                <div class="row">
                    <div class="col-sm-1 hidden-xs"></div>
                    <div class="col-sm-10">
                        <hr class="dotted-line" />
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed">
                                @foreach (var item in Model)
                                {
                                    string id = null;
                                    string refId = "#";
                                    id = item.name;
                                    refId = refId + id;
                                    <tr>
                                        <td class="col-sm-6">
                                            <span class="text-danger">@Html.DisplayFor(modelItem => item.name)</span>&nbsp;&nbsp;

                                            <br />
                                            <span class="text-info"><strong>Expression: </strong></span><span>@Html.DisplayFor(modelItem => item.expression_system)</span>&nbsp;&nbsp;<span>@Html.DisplayFor(modelItem => item.expression_subsystem)</span><br />
                                            <span class="text-info"><strong>Insert/Gene: </strong></span>
                                            @if (item.insert != null)
                                            {
                                                <span>@Html.DisplayFor(modelItem => item.insert_species)</span>
                                                <span>&nbsp; &nbsp;</span><span>@Html.DisplayFor(modelItem => item.insert)</span>
                                                if (item.promotor != null)
                                                {
                                                    <span>&nbsp; &nbsp;</span><span class="text-info"><strong>Promotor: </strong></span><span>@Html.DisplayFor(modelItem => item.promotor)</span>
                                                }
                                                if (item.polyA != null)
                                                {
                                                    <span>&nbsp; &nbsp;</span><span class="text-info"><strong>PolyA: </strong></span><span>@Html.DisplayFor(modelItem => item.polyA)</span><br />
                                                }
                                                else
                                                {
                                                    <br />
                                                }
                                            }
                                            else
                                            {
                                                <span>None</span><br />
                                            }
                                            <span class="text-info"><strong>Resistance: </strong></span><span>@Html.DisplayFor(modelItem => item.resistance)</span>
                                            @if (item.selection != null)
                                            {
                                                <span>&nbsp; &nbsp;</span><span class="text-info"><strong>Selection: </strong></span><span>@Html.DisplayFor(modelItem => item.selection)</span>
                                            }
                                            @if (item.reporter != null)
                                            {
                                                <span>&nbsp;&nbsp;</span><span class="text-info"><strong>Reporter: </strong></span><span>@Html.DisplayFor(modelItem => item.reporter)</span><br />
                                            }
                                            else
                                            {
                                                <br />
                                            }
                                            <span class="text-info"><strong>Experimental Use: </strong></span><span>@Html.DisplayFor(modelItem => item.usage)</span>
                                            @if (item.plasmid_type != null)
                                            {
                                                <span>&nbsp; &nbsp;</span><span class="text-info"><strong>Plasmid Type: </strong></span><span>@Html.DisplayFor(modelItem => item.plasmid_type)</span><br />
                                            }
                                            else
                                            {
                                                <br />
                                            }

                                            @if (item.img_fn != null)
                                            {
                                                <span class="text-info"><strong>Linked File: </strong></span>
                                                <span>
                                                    <a href="@Url.Action("Download", "Plasmid", new { fileName=item.img_fn })">
                                                        <span style="color:black">@item.img_fn</span><i class="fa fa-download" style="font-size:80%; color:black;"></i>
                                                    </a>
                                                </span><span>&nbsp;&nbsp;</span>
                                            }

                                            @if (item.ref_plasmid != null)
                                            {
                                                <span class="text-info"><strong>Linked Plasmid(s): </strong></span><span>@Html.DisplayFor(modelItem => item.ref_plasmid)</span><span>&nbsp;&nbsp;</span>

                                            }
                                            @if (item.addgene != null)
                                            {
                                                <span class="text-info"><strong>Addgene#: </strong></span><span>@Html.DisplayFor(modelItem => item.addgene)</span><br />
                                            }
                                            else
                                            {
                                                <br />
                                            }

                                            <br />
                                            <span class="text-info"><strong>Remarks: </strong></span><span>@Html.DisplayFor(modelItem => item.des)</span>
                                        </td>
                                        <td class="col-sm-4">
                                         @if (item.sequence != null)
                                            {
                                                //count sequence
                                                int countSeq = item.sequence.Length;
                                                int len = countSeq.ToString().Length;
                                                //sequence is divided by 125
                                                var divide = (double)countSeq / (double)125;
                                                int repeat = (int)Math.Truncate(divide);
                                                //start with 1
                                                int countLeft = 1;
                                                int countRight = 125;

                                                <span>
                                                    <!-- Trigger the modal with a button -->
                                                    <a data-toggle="modal" data-target=@refId>
                                                        <i class="fa fa-align-justify text-info"></i>
                                                        <span>Plasmid Sequence</span>
                                                    </a>
                                                    <br />
                                                    <!-- Modal -->
                                                    <div id=@id class="modal fade" role="dialog">
                                                        <div class="modal-dialog">
                                                            <!-- Modal content-->
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title text-center text-info">Plasmid @item.name (@item.seq_length bp)</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-sm-1 text-right hidden-xs">
                                                                            <p class="giraffe-seq-count">
                                                                                @for (int i = 0; i < repeat; i++)
                                                                                {
                                                                                    @countLeft<br />
                                                                                    countLeft = countLeft + 125;
                                                                                }
                                                                                @if (countLeft < countSeq)
                                                                                {
                                                                                    <span>@countLeft</span>
                                                                                }
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-sm-10">
                                                                            @{
                                                                                var seq = ecloning.Models.WordWrap.Wrap(item.sequence, 125);
                                                                            }
                                                                            <p class="giraffe-seq-textarea">@Html.Raw(seq)</p>
                                                                        </div>
                                                                        <div class="col-sm-1 text-left hidden-xs">
                                                                            <p class="giraffe-seq-count" style="position:relative; left:-45px;">
                                                                                @for (int i = 0; i < repeat; i++)
                                                                                {
                                                                                    @countRight<br />
                                                                                    countRight = countRight + 125;
                                                                                }
                                                                                @if ((countRight - 125) < countSeq)
                                                                                {
                                                                                    <span>@countSeq</span>
                                                                                }
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </span>
                                            }
                                            <span class="fa fa-exchange text-info"></span><text> </text><span class="text-info"><strong>Length: </strong></span><span>@Html.DisplayFor(modelItem => item.seq_length)</span>
                                            <br />
                                            @if (sharedPlasmidId.Count > 0 &&  sharedPlasmidId.Contains(item.id))
                                            {
                                                <a href="@Url.Action("Index", "Map", new { id = item.id, tag="groupDispaly" })">
                                                    <i class="fa fa-bullseye text-info"></i>
                                                    <span>Plasmid Map</span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Index", "Map", new { id = item.id, tag="personDispaly" })">
                                                    <i class="fa fa-bullseye text-info"></i>
                                                    <span>Plasmid Map</span>
                                                </a>
                                            }

                                        </td>
                                        <td class="col-sm-2">
                                            @if (sharedPlasmidId.Count >0 && sharedPlasmidId.Contains(item.id))
                                            {

                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Edit", "Plasmid", new { id = item.id })">
                                                    <i class="glyphicon glyphicon-pencil text-info"></i>
                                                    <span>Edit</span>
                                                </a>
                                                <br />
                                                <a href="@Url.Action("Delete", "Plasmid", new { id = item.id })">
                                                    <i class="glyphicon glyphicon-trash text-info"></i>
                                                    <span>Delete</span>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                    <div class="col-sm-1 hidden-xs"></div>
                </div>
        }

}

@Scripts.Render("~/bundles/jquery")

<script>
    //use jquery chosen plugin
    $(document).ready(function () {
        $("#expression_system").chosen();
        $("#promotor").chosen();
        $("#polyA").chosen();
        $("#reporter").chosen();
        $("#selection1").chosen();
        $("#selection2").chosen();
        $("#usage1").chosen();
        $("#usage2").chosen();
        $("#resistance1").chosen();
        $("#resistance2").chosen();
    });
</script>