@model ecloning.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h3 class="c">@ViewBag.Title</h3>
<div class="row">
    <div class="col-sm-offset-4 col-sm-6">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 col-md-2 col-lg-2 control-label" })
                    <div class="col-md-6 col-sm-10 col-lg-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-md-6 col-sm-10 col-lg-4">
                        <input type="submit" class="btn btn-block btn-primary" value="Email Link" />
                    </div>
                </div>
        }
    </div>
    

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
