@model ecloning.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    var JsonData = ViewBag.JsonData;

}

<h3 class="text-info hidden-xs text-center">Create an account to join your research group</h3>
<h3 class="text-info text-center hidden-sm hidden-md hidden-lg">Create an account</h3>
<span id="decodeIt" class="hidden"></span>

<div class="well">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-6">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-danger">@TempData["msg"]</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Department, new { @class = "col-sm-2 col-md-2 col-lg-2 control-label" })
                    <div class="col-md-6 col-sm-10 col-lg-4">
                        @Html.DropDownList("Department", null, "--  Select  --", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div id="groupDiv" class="form-group hidden">
                    @Html.LabelFor(m => m.Group, new { @class = "col-sm-2 col-md-2 col-lg-2 control-label" })
                    <div class="col-md-6 col-sm-10 col-lg-4">
                        @Html.DropDownList("Group", Enumerable.Empty<SelectListItem>(), "--  Select  --", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.first_name, new { @class = "col-sm-2 col-md-2 col-lg-2 control-label" })
                    <div class="col-md-6 col-sm-10 col-lg-4">
                        @Html.TextBoxFor(m => m.first_name, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.last_name, new { @class = "col-sm-2 col-md-2 col-lg-2 control-label" })
                    <div class="col-md-6 col-sm-10 col-lg-4">
                        @Html.TextBoxFor(m => m.last_name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.code, new { @class = "col-sm-2 col-md-2 col-lg-2 control-label" })
                    <div class="col-md-6 col-sm-10 col-lg-4">
                        @Html.TextBoxFor(m => m.code, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 col-md-2 col-lg-2 control-label" })
                    <div class="col-md-6 col-sm-10 col-lg-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 col-md-2 col-lg-2 control-label" })
                    <div class="col-md-6 col-sm-10 col-lg-4">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 col-md-2 col-lg-2 control-label" })
                    <div class="col-md-6 col-sm-10 col-lg-4">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-md-2 col-sm-4">
                        <input type="submit" class="btn btn-block btn-primary" value="Register" />
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-4 col-sm-6">
            <br /><br/>
            <h4 class="text-primary"><strong>Need help?</strong></h4>
            <h4 class="text-info">I cannot find my department.</h4>
            <h4 class="text-info">I can find my department, but my researcher is not in the list.</h4>
            <h4 class="text-info">How to get the invitation code?</h4>
            <h4 class="text-info">Do I have to use my working email to register?</h4>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<script>
    //aim: when use select department, show group list accordingly
    //first need to generate the list from json and then preprare the option list
    //then show the group input

    //process json data
    var JsonData = ("@JsonData");
    document.getElementById("decodeIt").innerHTML = JsonData;
    JsonData = document.getElementById("decodeIt").textContent;
    try {
        data = JSON.parse(JsonData);
    } catch (e) {
        //alert(e);
    }

    //get the selected department name
    $('#Department').on('change', function () {
        var depart = this.value;
        //alert(depart);
        //create a new array
        var group = [];
        $.each(data, function (index) {
            if (data[index]["depart"] == depart)
            {
                //get the groups
                group.push(data[index]["group"]);
            }            
        })
        //prepare options dom
        if (group.length > 0) {
            var groupOption = $('#Group option');
            $.each(group, function (index) {
                groupOption
                    .append($("<option></option>"))
                    .attr("value", group[index])
                    .text(group[index]);
            });
        }
        else
        {
            alert('No research group found for ' + depart);
        }
        
        //remove the hidden class
        $('#groupDiv').removeClass("hidden");
    })
</script>