@model IEnumerable<ecloning.Models.restri_enzyme>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_BioToolsLayout.cshtml";
    //int halfCount = (int)(Model.Count() / 2);
}

@Html.Partial("_BioTools")
<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-10">
            <h3 class="text-success">Restriction Enzymes</h3>
        </div>
        <div class="col-sm-2">
            <br class="hidden-xs"/>
            <a class="btn btn-default pull-right" href="@Url.Action("Create", "Restriction")">
                <i class="fa fa-plus text-info"></i>
                <span class="">New Enzyme</span>
            </a>         
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tr>
                                    <th rowspan="2" class="text-center col-sm-2">
                                        Enzyme
                                    </th>
                                    <th rowspan="2" class="text-center col-sm-5">
                                        Prototype
                                    </th>

                                    <th colspan="5" class="text-center col-sm-5">
                                        Properties
                                    </th>
                                </tr>
                                <tr>
                                    <th class="text-center col-sm-1">
                                        <span class="fa fa-star text-primary"></span>
                                    </th>
                                    <th class="text-center col-sm-1">
                                        <span class="glyphicon glyphicon-fire text-primary"></span>
                                    </th>
                                    <th class="text-center col-sm-1">
                                        <span class="text-primary">Dam</span>
                                    </th>
                                    <th class="text-center col-sm-1">
                                        <span class="text-primary">Dcm</span>
                                    </th>
                                    <th class="text-center col-sm-1">
                                        <span class="text-primary">CpG</span>
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                            {
                                string symbol = "<span></span>";
                                var enzymeSybol = new ecloning.Models.RestrictionEnzyme();
                                    <tr>
                                        <td class="text-center">
                                            <strong class="text-warning">@Html.DisplayFor(modelItem => item.name)</strong>
                                        </td>
                                        <td class="text-center">
                                            @if (item.forward_cut2 != null && item.reverse_cut2 != null)
                                            {
                                                @Html.Raw(enzymeSybol.ShowPrototype2(item.forward_seq, item.forward_cut, item.reverse_cut, (int)item.forward_cut2, (int)item.reverse_cut2))
                                            }
                                            else
                                            {
                                                @Html.Raw(enzymeSybol.ShowPrototype(item.forward_seq, item.forward_cut, item.reverse_cut))
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.staractitivity == true)
                                        {
                                                @Html.Raw(enzymeSybol.StarActivitySymbol((bool)item.staractitivity))
                                        }
                                        else
                                        {
                                                @Html.Raw(symbol)
                                        }
                                        </td>
                                        <td class="text-center">
                                            @if (item.inactivation != null)
                                        {
                                                @Html.Raw(enzymeSybol.InactivationSymbol((int)item.inactivation))
                                        }
                                        else
                                        {
                                                @Html.Raw(enzymeSybol.InactivationSymbol(0))
                                        }
                                        </td>
                                        <td class="text-center">
                                            @if (item.dam == true)
                                        {
                                                @Html.Raw(enzymeSybol.DamSymbol((bool)item.dam))
                                        }
                                        else
                                        {
                                                @Html.Raw(symbol)
                                        }
                                        </td>
                                        <td class="text-center">
                                            @if (item.dcm == true)
                                        {
                                                @Html.Raw(enzymeSybol.DcmSymbol((bool)item.dcm))
                                        }
                                        else
                                        {
                                                @Html.Raw(symbol)
                                        }
                                        </td>
                                        <td class="text-center">
                                            @if (item.cpg == true)
                                        {
                                                @Html.Raw(enzymeSybol.CpGSymbol((bool)item.cpg))
                                        }
                                        else
                                        {
                                                @Html.Raw(symbol)
                                        }
                                        </td>
                                    </tr>
                            }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-md-12 col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tr>
                                    <th rowspan="2" class="text-center col-sm-2">
                                        Enzyme
                                    </th>
                                    <th rowspan="2" class="text-center col-sm-5">
                                        Prototype
                                    </th>

                                    <th colspan="5" class="text-center col-sm-5">
                                        Properties
                                    </th>
                                </tr>
                                <tr>
                                    <th class="text-center col-sm-1">
                                        <span class="fa fa-star text-primary"></span>
                                    </th>
                                    <th class="text-center col-sm-1">
                                        <span class="glyphicon glyphicon-fire text-primary"></span>
                                    </th>
                                    <th class="text-center col-sm-1">
                                        <span class="text-primary">Dam</span>
                                    </th>
                                    <th class="text-center col-sm-1">
                                        <span class="text-primary">Dcm</span>
                                    </th>
                                    <th class="text-center col-sm-1">
                                        <span class="text-primary">CpG</span>
                                    </th>
                                </tr>

                                @foreach (var item in Model.Skip(halfCount))
                                {
                                string symbol = "<span></span>";
                                var enzymeSybol = new ecloning.Models.RestrictionEnzyme();
                                    <tr>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td class="text-center">
                                            @if (item.forward_cut2 != null && item.reverse_cut2 != null)
                                            {
                                                @Html.Raw(enzymeSybol.ShowPrototype2(item.forward_seq, item.forward_cut, item.reverse_cut, (int)item.forward_cut2, (int)item.reverse_cut2))
                                            }
                                            else
                                            {
                                                @Html.Raw(enzymeSybol.ShowPrototype(item.forward_seq, item.forward_cut, item.reverse_cut))
                                            }                                        
                                        </td>
                                        <td class="text-center">
                                            @if (item.staractitivity == true)
                                        {
                                                @Html.Raw(enzymeSybol.StarActivitySymbol((bool)item.staractitivity))
                                        }
                                        else
                                        {
                                                @Html.Raw(symbol)
                                        }
                                        </td>
                                        <td class="text-center">
                                            @if (item.inactivation != null)
                                        {
                                                @Html.Raw(enzymeSybol.InactivationSymbol((int)item.inactivation))
                                        }
                                        else
                                        {
                                                @Html.Raw(enzymeSybol.InactivationSymbol(0))
                                        }
                                        </td>
                                        <td class="text-center">
                                            @if (item.dam == true)
                                        {
                                                @Html.Raw(enzymeSybol.DamSymbol((bool)item.dam))
                                        }
                                        else
                                        {
                                                @Html.Raw(symbol)
                                        }
                                        </td>
                                        <td class="text-center">
                                            @if (item.dcm == true)
                                        {
                                                @Html.Raw(enzymeSybol.DcmSymbol((bool)item.dcm))
                                        }
                                        else
                                        {
                                                @Html.Raw(symbol)
                                        }
                                        </td>
                                        <td class="text-center">
                                            @if (item.cpg == true)
                                        {
                                                @Html.Raw(enzymeSybol.CpGSymbol((bool)item.cpg))
                                        }
                                        else
                                        {
                                                @Html.Raw(symbol)
                                        }
                                        </td>
                                    </tr>
                            }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>


