@model IEnumerable<ecloning.Models.ladder>
@{
    ViewBag.Title = "Ladder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ladderSize = ViewBag.ladderSize;
    var msg = TempData["msg"];
    var Type = ViewBag.Type;
}

<div class="">
    <div class="col-xs-12 col-sm-7 col-sm-offset-1 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
        <h3 class="text-primary"><span><i class="fa fa-barcode fa-fw fa-rotate-270 text-info"></i></span>@Type Ladders</h3>
    </div>
</div>
<span id="decodeIt" class="hidden"></span>
<span id="ladder_type" class="hidden">@Type</span>
<div class="">
    <div class="">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            @if (Model.Count() == 0)
        {
                <div class="text-danger text-center">No ladder found!</div>
        }
        else
        {
            foreach (var item in Model)
            {
                //prepare svg id
                var id = "ladder-" + item.id;
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center"><em><strong>@item.name</strong></em></h3>
                            </div>
                            <div class="panel-body">
                                <div id="@id" class="inner"></div>
                            </div>
                            <div class="panel-footer clearfix">
                                <div>
                                    @if(item.company != null)
                                    {
                                        <span class="text-info">
                                            @item.company.shortName
                                            @if(item.orderref != null)
                                            {
                                                <span> (@item.orderref)</span>
                                            }
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
            }
        }
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/d3")
<script src="~/Scripts/ecloning.js"></script>
<script>
    //get json data
    var type = $("#ladder_type").text().trim();
    var ladders = ("@ladderSize");
    document.getElementById("decodeIt").innerHTML = ladders;
    ladders = document.getElementById("decodeIt").textContent;

    try
    {
        ladders = JSON.parse(ladders);
        //d3 nest by id
        var data = d3.nest()
                     .key(function (d) { return d.id; })
                     .entries(ladders);
        console.log(data);
        $.each(data, function (i, d) {
            var Rf = [];
            var size = [];
            var mass = [];
            $.each(d.values, function (si, sd) {
                Rf.push(sd.Rf); //Rf
                size.push(sd.size);
                mass.push(sd.mass);
            })
            //draw svg ladder
            //find the div id
            var id = "ladder-" + d.key;
            drawLadder(id, Rf, size, mass, d.values, type);
        })

    }
    catch (e)
    {
        console.log(e);
    }

</script>