@model IList<ecloning.Models.FeatureViewModel>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PlasmidId = (int)ViewBag.PlasmidId;
    var JsonFeatures = ViewBag.JsonFeatures;
    int SeqLength = (int)ViewBag.SeqLength;
    int TableLength = ViewBag.TableLength;
}

<div class="row">
    <div class="col-xs-offset-2 col-sm-offset-1 col-sm-3">
        <h3 class="text-warning">Add features for @ViewBag.Name</h3>
    </div>
    <div class="col-sm-offset-0 col-sm-2 col-xs-6" style="position:relative;top:14px;">
        <br/>
        <p class="text-right text-info"><em>Not found?</em> </p>
    </div>
    <div class="col-sm-offset-0 col-sm-2 col-xs-6" >
        <br/>
        @Html.ActionLink("New Feature", "NewFeature", null, new { @class = "btn btn-danger" })
    </div>
    <div class="col-sm-offset-0 col-sm-2 col-xs-6" style="float:right;">
        <br/>
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>
<hr class="dotted-line" />
<span id="decodeIt" class="hidden"></span>
<div class="row">
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="table-responsive">
                    <table class="table table-condensed" id="dateTable">
                        <thead>
                            <tr>
                                <th class="required col-xs-12 col-sm-1">Name</th>
                                <th class="required col-xs-12 col-sm-1">Start Position</th>
                                <th class="required col-xs-12 col-sm-1">End Position</th>
                                <th class="col-xs-12 col-sm-1">Cut Position</th>
                                <th class="col-xs-12 col-sm-1">Clockwise</th>
                                <th class="col-xs-12 col-sm-1">Show Feature</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < TableLength; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.DropDownListFor(model => model[i].common_id, null, htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model[i].start, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model[i].end, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model[i].cut, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model[i].clockwise, null, htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model[i].show_feature, null, htmlAttributes: new { @class = "form-control" })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>                   
                </div>
                <div class="form-group hidden">
                    <div class="col-md-10">
                        <input type="text" name="plasmid_id" value=@PlasmidId />
                    </div>
                </div>

                <br/>
                <div class="form-group">
                    <div class="col-md-offset-10 col-md-2 col-sm-offset-9 col-sm-3 col-xs-12">
                        <input type="submit" value="Add Features" class="btn btn-block btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>


@Scripts.Render("~/bundles/jquery")