
@{
    ViewBag.Title = "Digestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Name = (string)ViewBag.Name;
    int plasmidId = (int)ViewBag.PlasmidId;
    string Sequence = (string)ViewBag.Sequence;
    int seqCount = (int)ViewBag.SeqLength;
    var features = ViewBag.Features;
    var methylation = ViewBag.Methylation;
    var enzymes = ViewBag.Enzymes;
    var Tag = (string)ViewBag.Tag;
    var fvFeatures = ViewBag.fvFeatures;
    var restricProperty = ViewBag.restric_property;
    var activity = ViewBag.activity;
    var ladders = ViewBag.ladders;
}

<div class="row">
    <div class="col-sx-12 hidden-sm hidden-xs col-sm-12 col-md-3 col-lg-2">
        &nbsp;
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
        <h3 class="text-warning text-center">
            Plasmid <em>@Name</em> Restriction Digestion&nbsp;
        </h3>
    </div>
    <div class="col-sx-12 col-sm-12 col-md-3 col-lg-2">
        <h3>
            <a id="autogenerate" class="btn btn-default" href="@Url.Action("Sequence", "Map", new { plasmid_id = plasmidId })">
                <i class="fa fa-exchange text-danger"></i>
                <span>Sequence</span>
            </a>
            <a id="autogenerate" class="btn btn-default" href="@Url.Action("Index", "Map", new { id = plasmidId, tag = Tag })">
                <i class="fa fa-sun-o text-danger"></i>
                <span>Plasmid Map</span>
            </a>
        </h3>
    </div>
</div>
<span id="decodeIt" class="hidden"></span>
<span id="seqCount" class="hidden">@seqCount</span>
<span id="sequence" class="hidden">@Sequence</span>
<span id="name" class="hidden">@Name</span>
<span id="plasmidId" class="hidden">@plasmidId</span>


<!--feature viewer-->
<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10" id="plasmid-feature"></div>
</div>
<br/>
<!--digesiton div-->
<div  class="row">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10" id="digestion">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><em><strong>Select one or more enzymes to start</strong></em></h3>
                </div>
            </div>
            @*<hr class="black-line" />*@
            <div id="enzyme-list" class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                <h4 class="text-primary">Enzymes</h4>
            </div>
            <div id="result" class="col-xs-8 col-sm-9 col-md-10 col-lg-11 hidden">
                <!--emzyme info panel-->
                <div id="enzyme-info" class="col-xs-12 col-md-6"></div>
                <div id="activity-info" class="col-xs-12 col-md-6"></div>
                <br />
                <!--bands-->
                <div id="gel" class="col-xs-12 col-md-6"></div>
                <div id="gel-info" class="col-xs-12 col-md-6 hidden">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center">Band Info</div>
                        <div class="panel-body">
                            <div id="band-feature" class="col-xs-12"></div>
                            <div id="band-end" class="col-xs-12"></div>
                        </div>
                        <div class="panel-footer clearfix" id="band-button">
                            <a class="btn btn-default" href="#" data-toggle="tooltip" title="Save Band">
                                <i class="fa fa-floppy-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/giraffe")
@Scripts.Render("~/bundles/d3")

@*seq viewer*@
<script src="~/Scripts/sequence-viewer/sequence-viewer.bundle.js"></script>
@*feature viewer*@
<script src="~/Scripts/feature-viewer/feature-viewer.js"></script>

<script src="~/Scripts/ecloning-digestion.js"></script>
<script>
    //define a global array for selected enzyme list
    var enzyArray = [];
    $(document).ready(function () {
        //initiate tooltip from bootstrap
        $('[data-toggle="tooltip"]').tooltip();

        //get full sequence
        sequence = $('#sequence').text().trim();
        seqCount = parseInt($('#seqCount').text().trim())
        //get plasmid name
        name = $('#name').text().trim();
        //get plasmid id
        pId = +$("#plasmidId").text().trim();


        //get plasmid feature json data for plasmid map
        var features = ("@features");
        features = LoadData(features);

        //get the feature for feature viwerer
        var fvFeatures = ("@fvFeatures");
        fvFeatures = LoadData(fvFeatures);
        //get enzymes
        var enzymes = ("@enzymes");
        enzymes = LoadData(enzymes);
        //get methylation
        var methylation = ("@methylation");
        methylation = LoadData(methylation);

        //get restrcition property and prototype
        var restricProperty = ("@restricProperty");
        restricProperty = LoadData(restricProperty);

        //get enzyme activity
        var activity = ("@activity");
        activity = LoadData(activity);

        //get ladders
        var ladders = ("@ladders");
        ladders = LoadData(ladders);
        try {
            //draw linear map
            features = JSON.parse(features);
            //draw features on top
            fvFeatures = JSON.parse(fvFeatures);
            drawFeatures(fvFeatures, sequence, 'plasmid-feature');
            //display enzyme checkbox
            enzymes = JSON.parse(enzymes);
            methylation = JSON.parse(methylation);
            //console.log(enzymes);
            //console.log(methylation);
            displayEnzymeList(enzymes, "enzyme-list");
            //parse json for restricProperty
            restricProperty = JSON.parse(restricProperty);
            //parse json for enzyme activity
            activity = JSON.parse(activity);
            //show enzyme companies and activities
            activity = FormatActivity(activity);
            //get company list
            var companies = findCompany(activity);
            //parse ladders
            ladders = JSON.parse(ladders);
            //format ladder data
            ladders = formatLadder(ladders);
            //capture user selection of enzyme
            $(":checkbox").change(function () {
                if (this.checked) {
                    //add enzyme to enzyArray
                    enzyArray = updateArray($(this).val(), enzyArray, "add");
                }
                else {
                    //remove enzyme to enzyArray
                    enzyArray = updateArray($(this).val(), enzyArray, "remove");
                }

                //show cut info with tabs
                //=============================================
                genEnzymeTabs(enzyArray, 'enzyme-info');
                //genCutMap using giraffe
                drawCutMap(enzymes, enzyArray, features, seqCount, name);
                //show cut prototype and property
                showRestricProperty(enzyArray, restricProperty);

                //=============================================
                //show activity tabs
                genActivityTab(enzyArray, 'activity-info', companies);

                //show enzyme activities
                showActivity(enzyArray, activity, companies);

                //===============================
                //match enzyme-info and activity-info
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("href") // activated tab
                    if (target.length > 9 && target.substring(0, 9) == "#activity") {
                        //this is the activity tab
                        var tab = target.substring(10, target.length);
                        if (tab != "" || tab != "undefined") {
                            $('a[href="#' + tab + '"]').tab('show');
                        }
                    }
                    else {
                        var tab = target.substring(1, target.length);
                        if (tab != "" || tab != "undefined") {
                            $('a[href="#activity-' + tab + '"]').tab('show');
                        }
                    }
                });


                //==============================
                //draw gel
                //define the gel length
                var gel_length = 250;
                //get ladders
                console.log(ladders);
                //cal the bands
                console.log(enzyArray);
                var bands = genBands(enzyArray, enzymes, methylation, seqCount);
                console.log(bands);
                //show the result div
                if (enzyArray.length > 0) {
                    //show the result panel
                    if ($("#result").hasClass("hidden")) {
                        $("#result").removeClass("hidden");
                    };
                }
                else {
                    //hide the result panel
                    if (!$("#result").hasClass("hidden")) {
                        $("#result").addClass("hidden");
                    }
                }
            });
        }
        catch (e) {
            console.log(e);
        }
    });
</script>