@model IEnumerable<ecloning.Models.plasmid_map>

@{
    ViewBag.Title = "Plasmid Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Name = (string)ViewBag.Name;
    int plasmidId = (int)ViewBag.Id;
    string Sequence = (string)ViewBag.Sequence;
    int seqCount = (int)ViewBag.SeqLength;
    var features = ViewBag.Features;
    var BackupCount = (int)ViewBag.BackupCount;
    var Tag = (string)ViewBag.Tag;
}

<div class="row">

    <div class="col-xs-12">
        <h3 class="text-warning text-center">
            Generate Plasmid <em>@Name</em> Map(@seqCount bp)&nbsp;
            @if (Tag != "groupDispaly")
            {
                if (Model.Count() > 0 && Model.FirstOrDefault().locked == 1)
                {
                    <a class="btn btn-md btn-link" href="@Url.Action("unLock", "Map", new { plasmid_id = plasmidId })">
                        <i class="fa fa-lock fa-2x pull-left text-danger"></i>
                    </a>
                }
                else
                {
                    <a class="btn btn-md btn-link" href="@Url.Action("Lock", "Map", new { plasmid_id = plasmidId})">
                        <i class="fa fa-unlock fa-2x pull-left text-danger"></i>
                    </a>
                }
            }

        </h3>
    </div>

</div>
<span id="decodeIt" class="hidden"></span>
<span id="sequence" class="hidden">@seqCount</span>
<span id="name" class="hidden">@Name</span>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">        
        <div id="giraffe-map"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <br />
        <div class="col-md-12 hidden-sm hidden-xs"><br/></div>
        @if (Tag != "groupDispaly")
        {
            if (Model.Count() > 0 && Model.FirstOrDefault().locked != 1)
            {
                if (Sequence != null)
                {
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a id="autogenerate" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="autogenerate" })">
                                <i class="fa fa-spinner text-danger"></i>
                                <span>Auto</span>
                            </a>
                        </div>
                        @if (BackupCount > 0)
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a id="restore" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="restore" })">
                                    <i class="fa fa-undo text-danger"></i>
                                    <span>Restore</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="restore" })">
                                    <i class="fa fa-undo text-muted"></i>
                                    <span class="text-muted">Restore</span>
                                </a>
                            </div>
                        }

                        @if (Model.Count() > 0)
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a id="backup" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="backup" })">
                                    <i class="fa fa-copy text-danger"></i>
                                    <span>Backup</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="backup" })">
                                    <i class="fa fa-copy text-muted"></i>
                                    <span class="text-muted">Backup</span>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link" href="@Url.Action("AddFeature", "Map", new { plasmid_id = plasmidId, tag="withseq" })">
                                <i class="glyphicon glyphicon-plus text-danger"></i>
                                <span class="">Add</span>
                            </a>
                        </div>
                        @if (Model.Count() > 0)
                        {
                            //allow only to change whether to show or not
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link" href="@Url.Action("Edit", "Map", new { plasmid_id = plasmidId })">
                                    <i class="fa fa-pencil-square-o text-danger"></i>
                                    <span>Edit</span>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link" href="@Url.Action("Delete", "Map", new { plasmid_id = plasmidId })">
                                    <i class="glyphicon glyphicon-trash text-danger"></i>
                                    <span>Remove</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Edit", "Map", new { plasmid_id = plasmidId })">
                                    <i class="fa fa-pencil-square-o text-muted"></i>
                                    <span class="text-muted">Edit</span>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link" href="@Url.Action("Delete", "Map", new { plasmid_id = plasmidId })">
                                    <i class="glyphicon glyphicon-trash text-muted"></i>
                                    <span class="text-muted">Remove</span>
                                </a>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a id="autogenerate" class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="autogenerate" })">
                                <i class="fa fa-spinner text-muted"></i>
                                <span class="text-muted">Auto</span>
                            </a>
                        </div>
                        @if (BackupCount > 0)
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a id="restore" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="restore" })">
                                    <i class="fa fa-undo text-danger"></i>
                                    <span>Restore</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="restore" })">
                                    <i class="fa fa-undo text-muted"></i>
                                    <span class="text-muted">Restore</span>
                                </a>
                            </div>
                        }

                        @if (Model.Count() > 0)
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a id="backup" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="backup" })">
                                    <i class="fa fa-copy text-danger"></i>
                                    <span>Backup</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="backup" })">
                                    <i class="fa fa-copy text-muted"></i>
                                    <span class="text-muted">Backup</span>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link" href="@Url.Action("ChooseFeature", "Map", new { plasmid_id = plasmidId, tag="noseq" })">
                                <i class="glyphicon glyphicon-plus text-danger"></i>
                                <span>Add</span>
                            </a>
                        </div>

                        @if (Model.Count() > 0)
                        {
                            //allow to change everything except label and feature name
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link" href="@Url.Action("Change", "Map", new { plasmid_id = plasmidId })">
                                    <i class="fa fa-pencil-square-o text-danger"></i>
                                    <span>Edit</span>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link" href="@Url.Action("Delete", "Map", new { plasmid_id = plasmidId })">
                                    <i class="glyphicon glyphicon-trash text-danger"></i>
                                    <span>Remove</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            //allow to change everything except label and feature name
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Change", "Map", new { plasmid_id = plasmidId })">
                                    <i class="fa fa-pencil-square-o text-muted"></i>
                                    <span class="text-muted">Edit</span>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Delete", "Map", new { plasmid_id = plasmidId })">
                                    <i class="glyphicon glyphicon-trash text-muted"></i>
                                    <span class="text-muted">Remove</span>
                                </a>
                            </div>
                        }

                    </div>
                }
            }

        }

        @if (Model.Count() == 0)
        {
            <div>
                <hr/>
                <p class="text-info text-center">No feature found!</p>
            </div>
        }
        else
        {
            <div>
                <div class="table-responsive col-md-10">
                    <table class="table table-hover table-condensed">
                        <tr>
                            <th>
                                Feature
                            </th>
                            <th>
                                Label
                            </th>
                            <th>
                                5' Position
                            </th>
                            <th>
                                3' Position
                            </th>
                            <th>
                                Clockwise
                            </th>
                            <th>
                                Cut Position (5'-3')
                            </th>
                            <th>
                                Show Feature
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.plasmid_feature.des)
                                </td>
                                <td>
                                    @if (item.common_id != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.common_feature.label)
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.feature)
                                    }                                    
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.start)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.end)
                                </td>
                                <td>
                                    @if (item.clockwise == 1)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cut)
                                </td>
                                <td>
                                    @if (item.show_feature == 1)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs"></div>
            </div>
        }
        
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/giraffe2")

<script>

    //get plasmid feature json data
    var features = ("@features");
    document.getElementById("decodeIt").innerHTML = features;
    features = document.getElementById("decodeIt").textContent;

    //get full sequence
    seqCount= document.getElementById("sequence").textContent;
    seqCount = parseInt(seqCount)
    //get plasmid name
    name = document.getElementById("name").textContent;
    try
    {
        features = JSON.parse(features);
        console.log(features);
        data = [seqCount, features];
        //console.log(data);
        var gd = GiraffeDraw();
        gd.read(data);



/*
//sample data
gd.read([6363,
[{ "show_feature": 0, "cut": 41, "end": 46, "type_id": 4, "feature": "BsrGI", "start": 41, "clockwise": true },
{ "show_feature": 1, "end": 660, "type_id": 2, "feature": "CMV_immearly_promoter", "start": 84, "clockwise": true },
{ "show_feature": 1, "cut": 97, "end": 102, "type_id": 4, "feature": "SpeI", "start": 97, "clockwise": true },
{ "show_feature": 1, "end": 974, "type_id": 1, "feature": "5_LTR", "start": 148, "clockwise": true },
{ "show_feature": 1, "end": 450, "type_id": 7, "feature": "CAG_enhancer", "start": 163, "clockwise": true },
{ "show_feature": 0, "cut": 438, "end": 441, "type_id": 4, "feature": "SnaBI", "start": 436, "clockwise": true },
{ "show_feature": 1, "end": 637, "type_id": 3, "feature": "CMV_fwd_primer", "start": 617, "clockwise": true },
{ "show_feature": 1, "end": 687, "type_id": 2, "feature": "CMV_promoter", "start": 618, "clockwise": true },
{ "show_feature": 1, "end": 749, "type_id": 2, "feature": "CMV2_promoter", "start": 630, "clockwise": true },
{ "show_feature": 1, "end": 680, "type_id": 3, "feature": "pCEP_fwd_primer", "start": 661, "clockwise": true },
{ "show_feature": 1, "end": 687, "type_id": 3, "feature": "LNCX_primer", "start": 663, "clockwise": true },
{ "show_feature": 1, "cut": 753, "end": 758, "type_id": 4, "feature": "SalI", "start": 753, "clockwise": true },
{ "show_feature": 0, "cut": 754, "end": 758, "type_id": 4, "feature": "AccI", "start": 753, "clockwise": true },
{ "show_feature": 1, "end": 1350, "type_id": 1, "feature": "bGlob_int", "start": 778, "clockwise": true },
{ "show_feature": 0, "cut": 1130, "end": 1135, "type_id": 4, "feature": "MfeI", "start": 1130, "clockwise": true },
{ "start": 1276, "clockwise": true, "end": 2955, "feature": "ORF frame 1", "type_id": 10 },
{ "show_feature": 0, "cut": 1305, "end": 1310, "type_id": 4, "feature": "PspOMI", "start": 1305, "clockwise": true },
{ "show_feature": 1, "cut": 1309, "end": 1310, "type_id": 4, "feature": "ApaI", "start": 1305, "clockwise": true },
{ "show_feature": 1, "end": 2955, "type_id": 5, "feature": "vsv-G", "start": 1420, "clockwise": true },
{ "show_feature": 0, "cut": 1556, "end": 1560, "type_id": 4, "feature": "SwaI", "start": 1553, "clockwise": true },
{ "show_feature": 1, "cut": 2119, "end": 2122, "type_id": 4, "feature": "StuI", "start": 2117, "clockwise": true },
{ "show_feature": 1, "cut": 2208, "end": 2209, "type_id": 4, "feature": "PstI", "start": 2204, "clockwise": true },
{ "show_feature": 1, "cut": 2401, "end": 2406, "type_id": 4, "feature": "AgeI", "start": 2401, "clockwise": true },
{ "show_feature": 0, "cut": 2428, "end": 2433, "type_id": 4, "feature": "Acc65I", "start": 2428, "clockwise": true },
{ "show_feature": 1, "cut": 2432, "end": 2433, "type_id": 4, "feature": "KpnI", "start": 2428, "clockwise": true },
{ "show_feature": 1, "cut": 2504, "end": 2509, "type_id": 4, "feature": "BclI", "start": 2504, "clockwise": true },
{ "show_feature": 1, "cut": 2681, "end": 2685, "type_id": 4, "feature": "BstBI", "start": 2680, "clockwise": true },
{ "start": 2920, "clockwise": true, "end": 2952, "feature": "VSVG Tag", "type_id": 1 },
{ "show_feature": 1, "end": 3500, "type_id": 8, "feature": "rb_glob_PA_terminator", "start": 2974, "clockwise": true },
{ "show_feature": 1, "cut": 3022, "end": 3025, "type_id": 4, "feature": "MscI", "start": 3020, "clockwise": true },
{ "show_feature": 1, "cut": 3051, "end": 3056, "type_id": 4, "feature": "BglII", "start": 3051, "clockwise": true },
{ "show_feature": 1, "end": 3567, "type_id": 3, "feature": "M13_pUC_rev_primer", "start": 3545, "clockwise": false },
{ "show_feature": 1, "end": 3610, "type_id": 2, "feature": "lac_promoter", "start": 3581, "clockwise": false },
{ "show_feature": 1, "end": 5553, "type_id": 5, "feature": "Ampicillin", "start": 4693, "clockwise": false },
{ "start": 4693, "clockwise": false, "end": 5553, "feature": "ORF frame 1", "type_id": 10 },
{ "show_feature": 1, "end": 5623, "type_id": 2, "feature": "AmpR_promoter", "start": 5595, "clockwise": false },
{ "show_feature": 0, "cut": 6011, "end": 6014, "type_id": 4, "feature": "NaeI", "start": 6009, "clockwise": true },
{ "show_feature": 0, "cut": 6009, "end": 6014, "type_id": 4, "feature": "NgoMIV", "start": 6009, "clockwise": true },
{ "show_feature": 1, "end": 6295, "type_id": 1, "feature": "lacZ_a", "start": 6140, "clockwise": false },
{ "show_feature": 1, "end": 6288, "type_id": 3, "feature": "M13_pUC_fwd_primer", "start": 6266, "clockwise": true },
{ "show_feature": 1, "end": 6297, "type_id": 2, "feature": "M13_forward20_primer", "start": 6281, "clockwise": true },
{ "show_feature": 0, "cut": 6300, "end": 6305, "type_id": 4, "feature": "BssHII", "start": 6300, "clockwise": true },
{ "show_feature": 1, "end": 6325, "type_id": 2, "feature": "T7_promoter", "start": 6307, "clockwise": true },
{ "show_feature": 1, "cut": 6345, "end": 6347, "type_id": 4, "feature": "SacII", "start": 6342, "clockwise": true },
{ "show_feature": 1, "cut": 6351, "end": 6357, "type_id": 4, "feature": "NotI", "start": 6350, "clockwise": true },
{ "show_feature": 1, "cut": 6358, "end": 6363, "type_id": 4, "feature": "XbaI", "start": 6358, "clockwise": true }]])

//end of sample data

*/




        gd.CircularMap({
            'map_dom_id': 'giraffe-map',
            'plasmid_name': name,
            'map_width': 848,
            'map_height': 848
        })
    }
    catch(e)
    {
        //alert(e);
    }
</script>

<script>
    $('#autogenerate').click(function () {
        $('#autogenerate i').addClass("fa-pulse");
    });

    $('#backup').click(function () {
        $('#backup i').removeClass("fa-copy");
        $('#backup i').addClass("fa-spinner fa-pulse");
    });
    $('#restore').click(function () {
        $('#restore i').removeClass("fa-undo");
        $('#restore i').addClass("fa-spinner fa-pulse");
    });
</script>

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(window).load(function () {
        // executes when complete page is fully loaded, including all frames, objects and images
        $('table').paging({
            limit: 15,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });        
    });
</script>