@model IEnumerable<ecloning.Models.plasmid_map>

@{
    ViewBag.Title = "Plasmid Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Name = (string)ViewBag.Name;
    int plasmidId = (int)ViewBag.Id;
    string Sequence = (string)ViewBag.Sequence;
    int seqCount = (int)ViewBag.SeqLength;
    var features = ViewBag.Features;
    var enzymes = ViewBag.Enzymes;
    var BackupCount = (int)ViewBag.BackupCount;
    var Tag = (string)ViewBag.Tag;
    var Plasmid = (ecloning.Models.plasmid)ViewBag.Plasmid;
    ecloning.Models.ecloningEntities db = new ecloning.Models.ecloningEntities();
}

<div class="row">
    <div class="hidden-sm hidden-xs col-md-0 col-lg-3">
        &nbsp;
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-4 col-md-offset-4 col-md-5 col-lg-offset-0 col-lg-5">
        <h3 class="text-warning text-center">
            Plasmid <em>@Name</em> Map(@seqCount bp)&nbsp;
            @if (Tag != "groupDispaly")
            {
                if (Model.Count() > 0 && Model.FirstOrDefault().locked == 1)
                {
                    <a class="btn btn-md btn-link" href="@Url.Action("unLock", "Map", new { plasmid_id = plasmidId, tag = Tag })">
                        <i class="fa fa-lock fa-2x pull-left text-danger"></i>
                    </a>
                }
                else
                {
                    <a class="btn btn-md btn-link" href="@Url.Action("Lock", "Map", new { plasmid_id = plasmidId, tag = Tag})">
                        <i class="fa fa-unlock fa-2x pull-left text-danger"></i>
                    </a>
                }
            }           
        </h3>
    </div>
    <div class="col-sx-12 col-sm-offset-4 col-sm-8 col-md-7 col-lg-offset-0 col-lg-3">
        <h3 class="pull-right">
                <a class="btn btn-default" target="_blank" href="@Url.Action("Compare", "Plasmid")">
                    <span class="text-danger"><i class="fa fa-sun-o"></i></span>
                    <span class="text-danger">
                        <i style="position:relative; left:-13px;" class="fa fa-sun-o"></i>
                    </span>
                        <span style="position:relative; left:-13px;">Compare Plasmids</span>
                </a>
                <a class="btn btn-default" href="@Url.Action("Sequence", "Map", new { plasmid_id = plasmidId, tag = Tag})">
                    <i class="fa fa-exchange text-danger"></i>
                    <span>Sequence</span>
                </a>
                <a class="btn btn-default" href="@Url.Action("Enzyme", "Map", new { plasmid_id = plasmidId, tag = Tag})">
                    <i class="fa fa-scissors text-danger"></i>
                    <span>Digestion</span>
                </a>
       </h3>
    </div>
</div>
<span id="decodeIt" class="hidden"></span>
<span id="seqCount" class="hidden">@seqCount</span>
<span id="name" class="hidden">@Name</span>
<span id="sequence" class="hidden">@Sequence</span>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-1">
        <div class="col-xs-12 col-sm-offset-2 col-md-offset-3">
            @if (Tag != "groupDispaly")
            {
                if (Model.Count() > 0 && Model.FirstOrDefault().locked != 1)
                {
                    if (Sequence != null)
                    {
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a id="autogenerate" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="autogenerate" })">
                                    <i class="fa fa-spinner text-danger"></i>
                                    <span>Redraw Map</span>
                                </a>
                            </div>
                            @if (BackupCount > 0)
                        {
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a id="restore" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="restore" })">
                                <i class="fa fa-undo text-danger"></i>
                                <span>Restore</span>
                            </a>
                        </div>
                        }
                        else
                        {
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="restore" })">
                                <i class="fa fa-undo text-muted"></i>
                                <span class="text-muted">Restore</span>
                            </a>
                        </div>
                        }

                            @if (Model.Count() > 0)
                        {
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a id="backup" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="backup" })">
                                <i class="fa fa-copy text-danger"></i>
                                <span>Backup</span>
                            </a>
                        </div>
                        }
                        else
                        {
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="backup" })">
                                <i class="fa fa-copy text-muted"></i>
                                <span class="text-muted">Backup</span>
                            </a>
                        </div>
                        }
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link" href="@Url.Action("AddFeature", "Map", new { plasmid_id = plasmidId, tag="withseq" })">
                                    <i class="glyphicon glyphicon-plus text-danger"></i>
                                    <span class="">Add</span>
                                </a>
                            </div>
                            @if (Model.Count() > 0)
                        {
                            //allow only to change whether to show or not
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link" href="@Url.Action("Edit", "Map", new { plasmid_id = plasmidId })">
                                <i class="fa fa-pencil-square-o text-danger"></i>
                                <span>Edit</span>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link" href="@Url.Action("Delete", "Map", new { plasmid_id = plasmidId })">
                                <i class="glyphicon glyphicon-trash text-danger"></i>
                                <span>Remove</span>
                            </a>
                        </div>
                        }
                        else
                        {
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link disabled" href="@Url.Action("Edit", "Map", new { plasmid_id = plasmidId })">
                                <i class="fa fa-pencil-square-o text-muted"></i>
                                <span class="text-muted">Edit</span>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link" href="@Url.Action("Delete", "Map", new { plasmid_id = plasmidId })">
                                <i class="glyphicon glyphicon-trash text-muted"></i>
                                <span class="text-muted">Remove</span>
                            </a>
                        </div>
                        }
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a id="autogenerate" class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="autogenerate" })">
                                    <i class="fa fa-spinner text-muted"></i>
                                    <span class="text-muted">Auto</span>
                                </a>
                            </div>
                            @if (BackupCount > 0)
                        {
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a id="restore" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="restore" })">
                                <i class="fa fa-undo text-danger"></i>
                                <span>Restore</span>
                            </a>
                        </div>
                        }
                        else
                        {
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="restore" })">
                                <i class="fa fa-undo text-muted"></i>
                                <span class="text-muted">Restore</span>
                            </a>
                        </div>
                        }

                            @if (Model.Count() > 0)
                        {
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a id="backup" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="backup" })">
                                <i class="fa fa-copy text-danger"></i>
                                <span>Backup</span>
                            </a>
                        </div>
                        }
                        else
                        {
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="backup" })">
                                <i class="fa fa-copy text-muted"></i>
                                <span class="text-muted">Backup</span>
                            </a>
                        </div>
                        }
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link" href="@Url.Action("ChooseFeature", "Map", new { plasmid_id = plasmidId, tag="noseq" })">
                                    <i class="glyphicon glyphicon-plus text-danger"></i>
                                    <span>Add</span>
                                </a>
                            </div>

                            @if (Model.Count() > 0)
                        {
                            //allow to change everything except label and feature name
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link" href="@Url.Action("Change", "Map", new { plasmid_id = plasmidId })">
                                <i class="fa fa-pencil-square-o text-danger"></i>
                                <span>Edit</span>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link" href="@Url.Action("Delete", "Map", new { plasmid_id = plasmidId })">
                                <i class="glyphicon glyphicon-trash text-danger"></i>
                                <span>Remove</span>
                            </a>
                        </div>
                        }
                        else
                        {
                            //allow to change everything except label and feature name
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link disabled" href="@Url.Action("Change", "Map", new { plasmid_id = plasmidId })">
                                <i class="fa fa-pencil-square-o text-muted"></i>
                                <span class="text-muted">Edit</span>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link disabled" href="@Url.Action("Delete", "Map", new { plasmid_id = plasmidId })">
                                <i class="glyphicon glyphicon-trash text-muted"></i>
                                <span class="text-muted">Remove</span>
                            </a>
                        </div>
                        }
                        </div>
                    }
                }
            }
        </div>        
        <div class="col-xs-12 col-sm-10 col-sm-offset-0 col-md-offset-0 col-md-10 col-lg-offset-0" id="giraffe-map"></div>
    </div>
    <div class="col-xs-10 col-xs-offset-2 col-lg-offset-0 col-lg-3">
        <br/>
        <!--select plasmid maps-->
        <div class="input-group">
            <span class="input-group-addon">Plasmid Map </span>
            <div class="input-group-btn">
                <button class="btn btn-primary" id="circular-button" type="button">Circular</button>
                <button class="btn btn-secondary" id="linear-button" type="button">Linear</button>
            </div>
        </div>
        <br/>
        <div class="plasmidDiv">
            <span class="text-danger">@Plasmid.name</span><br/>
            <span class="text-info"><strong>Expression: </strong></span><span>@Plasmid.expression_system</span>&nbsp;&nbsp;<span>@Plasmid.expression_subsystem</span><br />
            <span class="text-info"><strong>Insert/Gene: </strong></span>
            @if (Plasmid.insert != null)
            {
                <span>@Plasmid.insert</span><br />
                if (!string.IsNullOrWhiteSpace(Plasmid.insert_species))
                {
                    <span> (@Plasmid.insert_species)</span>
                }
                if (Plasmid.promotor != null)
                {
                    <span class="text-info"><strong>Promotor: </strong></span><span>@Plasmid.promotor</span><br />
                }
                if (Plasmid.polyA != null)
                {
                    <span class="text-info"><strong>PolyA: </strong></span><span>@Plasmid.polyA</span><br />
                }
            }
            else
            {
                <span>None</span><br />
            }
            <span class="text-info"><strong>Resistance: </strong></span><span>@Plasmid.resistance</span><br />
            @if (Plasmid.selection != null)
            {
                <span class="text-info"><strong>Selection: </strong></span><span>@Plasmid.selection</span><br />
            }
            @if (Plasmid.reporter != null)
            {
                <span class="text-info"><strong>Reporter: </strong></span><span>@Plasmid.reporter</span><br />
            }

            <span class="text-info"><strong>Experimental Use: </strong></span><span>@Plasmid.usage</span><br />
            @if (Plasmid.plasmid_type != null)
            {
                <span class="text-info"><strong>Plasmid Type: </strong></span><span>@Plasmid.plasmid_type</span><br />
            }

            @if (Plasmid.img_fn != null)
            {
                <span class="text-info"><strong>Linked File: </strong></span>
                <span>
                    <a href="@Url.Action("Download", "Map", new { fileName=Plasmid.img_fn })">
                        <span style="color:black">@Plasmid.img_fn</span><i class="fa fa-download" style="font-size:80%; color:black;"></i>
                    </a>
                </span><br />
            }

            @if (Plasmid.ref_plasmid != null)
            {
                <span class="text-info"><strong>Linked Plasmid(s): </strong></span>
                //convert ref_plasmid into array
                var array = Plasmid.ref_plasmid.Split(',');
                foreach (var id in array)
                {
                    var linkedPlasmid = db.plasmids.Find(Int32.Parse(id)).name;
                    <span><a href="@Url.Action("Index", "Map", new { id = Int32.Parse(id), tag = "groupDispaly" })">@linkedPlasmid</a>&nbsp;</span>
                }
                <br/>
            }
            @if (Plasmid.addgene != null)
            {
                <span class="text-info"><strong>Addgene#: </strong></span><span>@Plasmid.addgene</span><br />
            }
            <span class="text-info"><strong>Remarks: </strong></span><span>@Plasmid.des</span>
        </div>
        <br/>
        <div class="row">
            <div id="featureEdit" class="col-xs-12"></div>
        </div>
        <div class="row">
            <div id="featureAdd" class="col-xs-12 hidden">
                <br />
                <br />
                <div class="panel panel-primary" id="add-feature-form">
                    <div class="panel-heading">
                        Add Feature
                        <div class="col-xs-2 pull-right"><button type="button" class="btn btn-xs btn-danger" id="close-add-feature-form">X</button></div>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="#" id="add-feature-form">
                            <div class="form-group required">
                                <label for="add-feature-name" class="col-xs-8 control-label">Name</label><span class="text-danger col-xs-4" id="add-feature-name-msg"></span>
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" value="" id="add-feature-name">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="add-feature-start" class="col-xs-8 control-label">Start</label><span class="text-danger col-xs-4" id="add-feature-start-msg"></span>
                                <div class="col-xs-12">
                                    <input class="form-control" type="number" value="" id="add-feature-start">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="add-feature-end" class="col-xs-8 control-label">End</label><span class="text-danger col-xs-4" id="add-feature-end-msg"></span>
                                <div class="col-xs-12">
                                    <input class="form-control" type="number" value="" id="add-feature-end">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-feature-color" class="col-xs-12 control-label">Color</label>
                                <div class="col-xs-12">
                                    <input class="form-control" type="color" value="#bdbdbd" id="add-feature-color">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-feature-direction" class="col-xs-12 control-label">Direction</label>
                                <div class="col-xs-12">
                                    <input class="form-control" type="" value="" id="add-feature-direction">
                                </div>
                            </div>
                            <div class="form-group pull-right">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-primary" id="add-feature-button">Add Feature</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
@*<div class="alert alert-success navbar-fixed-bottom" id="success-alert">
     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     <span>&nbsp;&nbsp;</span><span class="fa fa-info-circle"></span>&nbsp;Click the feature name to rotate the map.
</div>*@


@Scripts.Render("~/bundles/jquery")
@*@Scripts.Render("~/bundles/giraffe")*@
@Scripts.Render("~/bundles/d3v4")
@Scripts.Render("~/bundles/d3plasmid")
<script>
    $("#success-alert").fadeTo(20000, 500).slideUp(500, function () {
        $("#success-alert").alert('close');
    });
</script>

<script>

    //get plasmid feature json data
    var features = ("@features");
    document.getElementById("decodeIt").innerHTML = features;
    features = document.getElementById("decodeIt").textContent;

    //enzymes
    var enzymes = ("@enzymes");
    document.getElementById("decodeIt").innerHTML = enzymes;
    enzymes = document.getElementById("decodeIt").textContent;

    //get full sequence
    seqCount = document.getElementById("seqCount").textContent;
    seqCount = parseInt(seqCount)
    //get plasmid name
    name = document.getElementById("name").textContent;
    //get the sequence
    sequence = document.getElementById("sequence").textContent;

    var plasmid_type = "circular";
    try
    {
        features = JSON.parse(features);
        enzymes = JSON.parse(enzymes);
        //configure data for the api
        var data = {
            id: "#giraffe-map", //id of the plasmid div
            form: "#featureEdit", //form id for edit feature
            addFeatureId: "#featureAdd", //form id for adding feature
            name: name, //plasmid name
            sequence: sequence, //sequence
            features: features, //all features
            showEnzyme: true, //whether to show enzyme cuts on the map
            enzymes: enzymes, //all enzymes
            cuts_number: 3 //-1 show all cuts, change to any number to show the enzymes that have the number of cuts. It doesn't accept an array
        };
        var dp = new Plasmid();
        dp.read(data);
        //draw the circular map
        if (plasmid_type == "circular") {
            dp.draw();
        }
        else {
            dp.drawLinear();
        }
    }
    catch(e)
    {
        console.error(e);
    }

    //resize
    $(window).resize(function () {
        if (plasmid_type == "circular") {
            dp.redraw();
        }
        else {
            dp.redrawLinear();
        }

    });

    $(document).ready(function () {
        $("#circular-button").click(function () {
            plasmid_type = "circular";
            dp.redraw();
        })
        $("#linear-button").click(function () {
            plasmid_type = "linear";
            dp.redrawLinear();
        })
    })

</script>

<script>
    $('#autogenerate').click(function () {
        $('#autogenerate i').addClass("fa-pulse");
        findCutAlert();
    });

    $('#backup').click(function () {
        $('#backup i').removeClass("fa-copy");
        $('#backup i').addClass("fa-spinner fa-pulse");
    });
    $('#restore').click(function () {
        $('#restore i').removeClass("fa-undo");
        $('#restore i').addClass("fa-spinner fa-pulse");
    });

    /*
    $('svg text tspan').on('click', redrawMap);


    function redrawMap(event) {
        var txt = $(event.target).text();
        //find feature clicked
        var oldStart = 0;
        $.each(data[1], function (index, d) {
            $.each(d, function (key, value) {
                if (value == txt) {
                    oldStart = d['start'];
                }
            });
        });
        //change the start and end
        $.each(data[1], function (i, dt) {
            if (dt['start'] >= oldStart) {
                dt['start'] = dt['start'] - oldStart + 1;
                dt['end'] = dt['end'] - oldStart + 1;
            }
            else {
                dt['start'] = seqCount - oldStart + dt['start'] + 1;
                if (dt['end'] >= oldStart) {
                    dt['end'] = dt['end'] - oldStart + 1;
                }
                else {
                    dt['end'] = seqCount - oldStart + dt['end'] + 1;
                }
            }
        });

        //reorder the data
        data[1].sort(sortByProperty('start'));
        //redraw the map
        gd.read(data);
        gd.CircularMap({
            'map_dom_id': 'giraffe-map',
            'plasmid_name': name,
            'map_width': 1044,
            'map_height': 648
        });

        //run the click-event again
        $('svg text tspan').on('click', redrawMap);
    };


    function sortByProperty(property) {
        'use strict';
        return function (a, b) {
            var sortStatus = 0;
            if (a[property] < b[property]) {
                sortStatus = -1;
            } else if (a[property] > b[property]) {
                sortStatus = 1;
            }
            return sortStatus;
        };
    }
    */
    function findCutAlert() {
        //show alert and auto close it.
        var html = '';
        html = html + '<div class="alert alert-info navbar-fixed-bottom" id="redraw-alert">';
        html = html + '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>';
        html = html + '<span class="pull-right"><span>&nbsp;&nbsp;</span><span class="fa fa-info-circle"></span>&nbsp;Searching the restriction sites is running in background, please wait for about 10 mins before working on "<i class="text-danger fa fa-scissors"></i><span class="text-danger">Digestion</span>".<span>&nbsp;&nbsp;</span></span></div>';
        $('body').append(html);
        $("#redraw-alert").fadeTo(50000, 500).slideUp(500, function () {
            $("#redraw-alert").alert('close');
        });
    }
</script>
