@model IEnumerable<ecloning.Models.plasmid_map>

@{
    ViewBag.Title = "Plasmid Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Name = (string)ViewBag.Name;
    int plasmidId = (int)ViewBag.Id;
    string Sequence = (string)ViewBag.Sequence;
    int seqCount = (int)ViewBag.SeqLength;
    var features = ViewBag.Features;
    var BackupCount = (int)ViewBag.BackupCount;
    var Tag = (string)ViewBag.Tag;
}

<div class="row">

    <div class="col-xs-12">
        <h3 class="text-warning text-center">
            Generate Plasmid <em>@Name</em> Map(@seqCount bp)&nbsp;
            @if (Tag != "groupDispaly")
            {
                if (Model.Count() > 0 && Model.FirstOrDefault().locked == 1)
                {
                    <a class="btn btn-md btn-link" href="@Url.Action("unLock", "Map", new { plasmid_id = plasmidId })">
                        <i class="fa fa-lock fa-2x pull-left text-danger"></i>
                    </a>
                }
                else
                {
                    <a class="btn btn-md btn-link" href="@Url.Action("Lock", "Map", new { plasmid_id = plasmidId})">
                        <i class="fa fa-unlock fa-2x pull-left text-danger"></i>
                    </a>
                }
            }

        </h3>
    </div>

</div>
<span id="decodeIt" class="hidden"></span>
<span id="sequence" class="hidden">@seqCount</span>
<span id="name" class="hidden">@Name</span>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1">        
        <div id="giraffe-map"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <br />
        <div class="col-md-12 hidden-sm hidden-xs"><br/></div>
        @if (Tag != "groupDispaly")
        {
            if (Model.Count() > 0 && Model.FirstOrDefault().locked != 1)
            {
                if (Sequence != null)
                {
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a id="autogenerate" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="autogenerate" })">
                                <i class="fa fa-spinner text-danger"></i>
                                <span>Auto</span>
                            </a>
                        </div>
                        @if (BackupCount > 0)
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a id="restore" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="restore" })">
                                    <i class="fa fa-undo text-danger"></i>
                                    <span>Restore</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="restore" })">
                                    <i class="fa fa-undo text-muted"></i>
                                    <span class="text-muted">Restore</span>
                                </a>
                            </div>
                        }

                        @if (Model.Count() > 0)
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a id="backup" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="backup" })">
                                    <i class="fa fa-copy text-danger"></i>
                                    <span>Backup</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="backup" })">
                                    <i class="fa fa-copy text-muted"></i>
                                    <span class="text-muted">Backup</span>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link" href="@Url.Action("AddFeature", "Map", new { plasmid_id = plasmidId, tag="withseq" })">
                                <i class="glyphicon glyphicon-plus text-danger"></i>
                                <span class="">Add</span>
                            </a>
                        </div>
                        @if (Model.Count() > 0)
                        {
                            //allow only to change whether to show or not
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link" href="@Url.Action("Edit", "Map", new { plasmid_id = plasmidId })">
                                    <i class="fa fa-pencil-square-o text-danger"></i>
                                    <span>Edit</span>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link" href="@Url.Action("Delete", "Map", new { plasmid_id = plasmidId })">
                                    <i class="glyphicon glyphicon-trash text-danger"></i>
                                    <span>Remove</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Edit", "Map", new { plasmid_id = plasmidId })">
                                    <i class="fa fa-pencil-square-o text-muted"></i>
                                    <span class="text-muted">Edit</span>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link" href="@Url.Action("Delete", "Map", new { plasmid_id = plasmidId })">
                                    <i class="glyphicon glyphicon-trash text-muted"></i>
                                    <span class="text-muted">Remove</span>
                                </a>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a id="autogenerate" class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="autogenerate" })">
                                <i class="fa fa-spinner text-muted"></i>
                                <span class="text-muted">Auto</span>
                            </a>
                        </div>
                        @if (BackupCount > 0)
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a id="restore" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="restore" })">
                                    <i class="fa fa-undo text-danger"></i>
                                    <span>Restore</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="restore" })">
                                    <i class="fa fa-undo text-muted"></i>
                                    <span class="text-muted">Restore</span>
                                </a>
                            </div>
                        }

                        @if (Model.Count() > 0)
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a id="backup" class="btn btn-link" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="backup" })">
                                    <i class="fa fa-copy text-danger"></i>
                                    <span>Backup</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Index", "Map", new { id = plasmidId, tag="backup" })">
                                    <i class="fa fa-copy text-muted"></i>
                                    <span class="text-muted">Backup</span>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <a class="btn btn-link" href="@Url.Action("ChooseFeature", "Map", new { plasmid_id = plasmidId, tag="noseq" })">
                                <i class="glyphicon glyphicon-plus text-danger"></i>
                                <span>Add</span>
                            </a>
                        </div>

                        @if (Model.Count() > 0)
                        {
                            //allow to change everything except label and feature name
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link" href="@Url.Action("Change", "Map", new { plasmid_id = plasmidId })">
                                    <i class="fa fa-pencil-square-o text-danger"></i>
                                    <span>Edit</span>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link" href="@Url.Action("Delete", "Map", new { plasmid_id = plasmidId })">
                                    <i class="glyphicon glyphicon-trash text-danger"></i>
                                    <span>Remove</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            //allow to change everything except label and feature name
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Change", "Map", new { plasmid_id = plasmidId })">
                                    <i class="fa fa-pencil-square-o text-muted"></i>
                                    <span class="text-muted">Edit</span>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a class="btn btn-link disabled" href="@Url.Action("Delete", "Map", new { plasmid_id = plasmidId })">
                                    <i class="glyphicon glyphicon-trash text-muted"></i>
                                    <span class="text-muted">Remove</span>
                                </a>
                            </div>
                        }

                    </div>
                }
            }

        }

        @if (Model.Count() == 0)
        {
            <div>
                <hr/>
                <p class="text-info text-center">No feature found!</p>
            </div>
        }
        else
        {
            <div>
                <div class="table-responsive col-md-10">
                    <table class="table table-hover table-condensed">
                        <tr>
                            <th>
                                Feature
                            </th>
                            <th>
                                Label
                            </th>
                            <th>
                                5' Position
                            </th>
                            <th>
                                3' Position
                            </th>
                            <th>
                                Clockwise
                            </th>
                            <th>
                                Cut Position (5'-3')
                            </th>
                            <th>
                                Show Feature
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.plasmid_feature.des)
                                </td>
                                <td>
                                    @if (item.common_id != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.common_feature.label)
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.feature)
                                    }                                    
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.start)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.end)
                                </td>
                                <td>
                                    @if (item.clockwise == 1)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cut)
                                </td>
                                <td>
                                    @if (item.show_feature == 1)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs"></div>
            </div>
        }
        
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/giraffe")

<script>

    //get plasmid feature json data
    var features = ("@features");
    document.getElementById("decodeIt").innerHTML = features;
    features = document.getElementById("decodeIt").textContent;

    //get full sequence
    seqCount= document.getElementById("sequence").textContent;
    seqCount = parseInt(seqCount)
    //get plasmid name
    name = document.getElementById("name").textContent;
    try
    {
        features = JSON.parse(features);
        //console.log(features);
        data = [seqCount, features];
        //console.log(data);
        var gd = GiraffeDraw();
        gd.read(data);
        gd.CircularMap({ 'map_dom_id': 'giraffe-map', 'plasmid_name': name })
    }
    catch(e)
    {
        //alert(e);
    }
</script>

<script>
    $('#autogenerate').click(function () {
        $('#autogenerate i').addClass("fa-pulse");
    });

    $('#backup').click(function () {
        $('#backup i').removeClass("fa-copy");
        $('#backup i').addClass("fa-spinner fa-pulse");
    });
    $('#restore').click(function () {
        $('#restore i').removeClass("fa-undo");
        $('#restore i').addClass("fa-spinner fa-pulse");
    });
</script>

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(window).load(function () {
        // executes when complete page is fully loaded, including all frames, objects and images
        $('table').paging({
            limit: 15,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });        
    });
</script>