<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" sizes="32x32" type="image/x-icon" href="~/logo/eCloning-2.ico" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
    @*<link rel="stylesheet" href="~/Content/font-awesome/font-awesome.min.css">*@
    <title>@ViewBag.Title - eCloning</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid top-logo">
        <div class="container-fluid" style="padding-top:10px;">
            <div class="row">
                <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7 col-sm-offset-1">
                    <div class="row">
                        @*<img class="img-responsive" src="~/logo/eCloning-new1.jpg" height="60" style="height:60px !important" />*@
                        @*<span class="hidden-xs appdescription"><span>Complete solutions</span> <br/><span>for Molecualr Cloning!</span></span>*@
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="position:relative; left:15px;">
                                @*<img class="hidden-xs img-responsive" src="~/logo/lumc.png" height="40" style="height:40px !important"/>*@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <br class="hidden-xs"/>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="@Url.Action("Index", "Home")">
                                    <i class="fa fa-home"></i>
                                    <span class="">Home</span>
                                </a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title=""><span class="fa fa-flask">&ensp;</span>Experiments<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="@Url.Action("Index", "Ligation")">
                                                    <i class="fa fa-chain-broken text-info"></i>
                                                    <span class="">Ligation</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title=""><span class="fa fa-genderless fa-lg">&ensp;</span>Plasmids<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="@Url.Action("Index", "Plasmid")">
                                                <i class="fa fa-genderless fa-lg text-info"></i>
                                                <span class="">All Plasmids</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Overview", "Plasmid")">
                                                <i class="fa fa-th text-info"></i>
                                                <span>Plasmids Overview</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "pBundle")">
                                                <i class="fa fa-object-group text-info"></i>
                                                <span>Plasmid Bundles</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Compare", "Plasmid")">
                                                <span class="text-info"><i class="fa fa-sun-o"></i></span>
                                                <i style="position:relative; left:-13px;" class="fa fa-sun-o"></i>
                                                <span style="position:relative; left:-13px;">Compare Plasmids</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Search", "Plasmid")">
                                                <i class="glyphicon glyphicon-search text-info"></i>
                                                <span class="">Find Plasmids</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Index", "Feature")">
                                                <i class="fa fa-sliders text-info"></i>
                                                <span class="">Plasmid Features</span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                @*<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title=""><span class="fa fa-scissors">&ensp;</span>Enzymes<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="@Url.Action("Index", "RActivity")">
                                                <i class="fa fa-scissors text-info"></i>
                                                <span class="text-text-info">Restriction Enzymes</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "MActivity")">
                                                <i class="fa fa-exchange text-info"></i>
                                                <span class="text-text-info">Modifying Enzymes</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>*@
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title=""><span class="fa fa-server">&ensp;</span>Resources<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="menu-item dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title=""><i class="fa fa-scissors">&ensp;</i>Enzymes</a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="@Url.Action("Index", "RActivity")">
                                                        <i class="fa fa-scissors text-info"></i>
                                                        <span class="">Restriction Enzymes</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "MActivity")">
                                                        <i class="fa fa-exchange text-info"></i>
                                                        <span class="">Modifying Enzymes</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Primer")">
                                                <i class="glyphicon glyphicon-transfer text-info"></i>
                                                <span class="">Primers</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Oligo")">
                                                <i class="fa fa-list text-info"></i>
                                                <span class="">Oligos</span>
                                            </a>
                                        </li>
                                        <li class="menu-item dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title=""><i class="fa fa-barcode fa-fw fa-rotate-270 text-primary"></i>Ladders</a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="@Url.Action("Index", "Ladder", new { type= "DNA"})">
                                                        <i class="fa fa-barcode fa-fw fa-rotate-270 text-primary"></i>
                                                        <span class="">DNA Ladders</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Index", "Ladder", new { type= "RNA"})">
                                                        <i class="fa fa-barcode fa-fw fa-rotate-270 text-danger"></i>
                                                        <span class="">RNA Ladders</span>
                                                    </a>
                                                </li>
                                                @*<li>
                                                    <a href="@Url.Action("Index", "Ladder", new { type= "Protein"})">
                                                        <i class="fa fa-barcode fa-fw fa-rotate-270 text-info"></i>
                                                        <span class="">Protein Ladders</span>
                                                    </a>
                                                </li>*@
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Fragment", "Fragment")">
                                                <i class="fa fa-circle-o-notch text-info"></i>
                                                <span class="">Linearized Vectors</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title=""><span class="fa fa-wrench">&ensp;</span>Tools<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="@Url.Action("Align2Seq", "BioTools")" data-toggle="tooltip" title="Align 2 sequences of DNA,RNA or Protein">
                                                <i class="fa fa-exchange text-info"></i>
                                                <span class="">Align 2 Sequences</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("MASViewer", "BioTools")" data-toggle="tooltip" title="Multiple Sequence Alignment Viewer">
                                                <i class="glyphicon glyphicon-barcode fa-rotate-90 text-info"></i>
                                                <span class="text-text-info">MSA Viewer</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("SeqEditor", "BioTools", new { type="DNA"} )" data-toggle="tooltip" title="Sequence Editor">
                                                <i class="fa fa-pencil-square-o text-info"></i>
                                                <span class="text-text-info">DNA Seq Editor</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("SeqEditor", "BioTools", new { type="RNA"} )" data-toggle="tooltip" title="Sequence Editor">
                                                <i class="fa fa-pencil-square-o text-info"></i>
                                                <span class="text-text-info">RNA Seq Editor</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("FormatSeq", "BioTools")" data-toggle="tooltip" title="Format Sequence">
                                                <i class="fa fa-check-square-o  text-info"></i>
                                                <span class="text-text-info">Format Sequence</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                if (User.IsInRole("GroupLeader") || User.IsInRole("Assistant") || User.IsInRole("appAdmin"))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Role")">
                                            <i class="fa fa-users"></i>
                                            <span class="">People</span>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        <div class="footer navbar-fixed-bottom">
            <footer>
                <p class="text-center" style="margin: 0px 0px 0px 0px;">&copy; @DateTime.Now.Year - eCloning. All Rights Reserved</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="~/Scripts/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatable/dataTables.bootstrap.min.js"></script>



    @*for loading paging*@
    <script type="text/javascript" src="~/Scripts/paging.js"></script>
</body>
</html>
