<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" sizes="32x32" type="image/x-icon" href="~/logo/eCloning-2.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - eCloning</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid top-logo">
        <div class="container" style="padding-top:20px;">
            <div class="row">
                <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7">
                    <div class="row">
                        <img class="img-responsive" src="~/logo/eCloning-new1.jpg" height="40" style="height:40px !important" />
                        <span class="hidden-xs appdescription">Complete solutions for Molecualr Cloning!</span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-5">
                    <div class="row">
                            <img class="col-sm-6 hidden-xs img-responsive" src="~/logo/lumc.png" height="40" style="height:40px !important"/>
                        <div class="col-sm-6">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-sm hidden-xs">&nbsp;</div>
    </div>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                    
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-home"></i>
                            <span class="">Home</span>
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                       <li>
                           <a href="@Url.Action("Index", "Plasmid")">
                               <i class="fa fa-genderless fa-lg"></i>
                               <span class="">Plasmids</span>
                           </a>
                       </li>
                        <li>
                            <a href="@Url.Action("Index", "Feature")">
                                <i class="fa fa-bars"></i>
                                <span class="">Features</span>
                            </a>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Tools"><span class="fa fa-wrench text-info">&ensp;</span>Tools<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">

                                <li>
                                    <a href="@Url.Action("Index", "ORFFinder")">
                                        <i class="glyphicon glyphicon-th-list text-info"></i>
                                        <span class="text-text-info">ORFFinder</span>
                                    </a>
                                </li>


                            </ul>
                        </li>

                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        <div class="footer navbar-fixed-bottom">
            <footer>
                <p class="text-center" style="margin: 0px 0px 0px 0px;">&copy; @DateTime.Now.Year - eCloning. All Rights Reserved</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/editable")*@
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="~/Scripts/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatable/dataTables.bootstrap.min.js"></script>



    @*for loading paging*@
    <script type="text/javascript" src="~/Scripts/paging.js"></script>
</body>
</html>
