@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    //get user name
    ecloning.Models.ecloningEntities db = new ecloning.Models.ecloningEntities();
    var email = User.Identity.GetUserName();
    var person = db.people.Where(e => e.email == email);
    string name = null;
    if (person.Count() > 0)
    {
        name = person.FirstOrDefault().first_name + " " + person.FirstOrDefault().last_name;
    }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
     @Html.AntiForgeryToken()

     <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
        @if (name != null)
        {
            <a href="~/Manage/Index" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Manage"><span class="glyphicon glyphicon-user text-info">&ensp;</span><b>@name</b><span class="caret"></span></a>
        }
        else
        {
            <a href="~/Manage/Index" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Manage"><span class="glyphicon glyphicon-user text-info">&ensp;</span><b>@User.Identity.GetUserName()</b><span class="caret"></span></a>
        }
            <ul class="dropdown-menu" role="menu">
                <li><a href="~/Manage/ChangePassword"><span class="glyphicon glyphicon-refresh text-info">&ensp;</span>Change Password</a></li>
                <li><a href="~/Manage/ViewAccount"><span class="glyphicon glyphicon-eye-open text-info">&ensp;</span>Account Details</a></li>
                <li class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-share text-info">&ensp;</span>Log off</a></li>
            </ul>
        </li>
        <li><a class="btn btn-sm" href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-share text-info">&ensp;</span>Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, new { id = "registerLink" })</li>
    </ul>
}
