@model ecloning.Models.person

@{
    ViewBag.Title = "Account Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Count = (int)ViewBag.Count;
}


<h3 class="col-sm-offset-4">Account Details</h3>

@if (Count == 0)
{
    <p class="text-primary">Your account details is currently unavailable</p>
}
else
{
    var db = new ecloning.Models.ecloningEntities();
    //get group info
    //could be multiple
    var email = Model.email;
    var peopleId = Model.id;
    var group_people = db.group_people.Where(p => p.people_id == peopleId);

    List<int> groupId = new List<int>();

    IEnumerable<ecloning.Models.group> groups = null;

    //can be mutiple
    if (group_people.Count() > 0)
    {
        groupId = group_people.Select(g => g.group_id).ToList();
        groups = db.groups.Where(g => groupId.Contains(g.id));

    }

    if (groups.Count() > 0)
    {
        <br />
        <div class="row">
            <div class="col-sm-offset-4">
                <p><strong>You are belong to the following research group(s):</strong></p>

                <div class="row">
                    @foreach (var g in groups)
                    {
                        <div class="col-sm-12">
                            <span class="text-info"><strong>Group: </strong></span><span>@g.name</span><br />
                            <span class="text-info"><strong>Department: </strong></span><span>@g.department.name</span>
                        </div><br />
                    }

                </div>
            </div>

        </div>

    }

    <br />
    <div class="row">
        <div class="col-sm-offset-4">

            <div class="row">
                <div class="col-sm-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <p>
                            <strong>Your personal information</strong>
                            <span>
                                &nbsp;<a class="btn btn-info btn-xs" href=@Url.Action("ViewAccount", "Manage")>
                                    <i class="text-info"></i>
                                    <span class="text-info">Cancel</span>
                                </a>
                            </span>
                        </p>
                        <div class="form-horizontal" style="padding-left:20px !important;">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.id)

                            <div class="form-group required">
                                @Html.LabelFor(model => model.first_name,"First Name", htmlAttributes: new { @class = "control-label col-bg-2" })
                                <div class="col-bg-2">
                                    @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group required">
                                @Html.LabelFor(model => model.last_name, "Last Name", htmlAttributes: new { @class = "control-label col-bg-2" })
                                <div class="col-bg-2">
                                    @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-bg-offset-1 col-bg-1">
                                    <input type="submit" value="Save" class="btn btn-block btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.func != null)
                    {
                        <span class="text-info"><strong>Function: </strong></span><span>@Model.func</span><br />
                    }
                    <span class="text-info"><strong>Email: </strong></span><span>@Model.email</span>
                </div>
            </div>
        </div>
    </div>

}












