@model IEnumerable<ecloning.Models.buffer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_BioToolsLayout.cshtml";
    var db = new ecloning.Models.ecloningEntities();
}

@Html.Partial("_BioTools")
<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-9">
            <h3 class="text-primary"><span><i class="fa fa-flask">&nbsp;</i></span>Buffers</h3>
        </div>
        <div class="col-sm-3">
            <br class="hidden-xs" />
            <a class="btn btn-default pull-right" href="@Url.Action("Create", "Buffer")">
                <i class="fa fa-plus text-info"></i>
                <span class="">New Buffer</span>
            </a>
        </div>
    </div>
    <div class="row">
        <hr />
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">
                                            Company
                                        </th>
                                        <th class="col-sm-2">
                                            Buffer
                                        </th>
                                        <th class="col-sm-6">
                                            Composition
                                        </th>
                                        <th class="col-sm-2"></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <span class="text-primary">@Html.DisplayFor(modelItem => item.company.shortName)</span>
                                        </td>
                                        <td>
                                            <span class="text-warning"><strong>@Html.DisplayFor(modelItem => item.name)</strong></span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.composition)
                                        </td>
                                        <td>
                                            @if (item.show_activity != true)
                                            {
                                                //check whether there is activities for restriction enzyme available
                                                bool hasActivity = false;
                                                var activity = db.activity_restriction.Where(a => a.buffer_id == item.id && a.company_id == item.company_id);
                                                if (activity.Count() > 0)
                                                {
                                                    hasActivity = true;
                                                }

                                                if (hasActivity)
                                                {
                                                    <a href="@Url.Action("ShowActivity", "Buffer", new { id = item.id })">
                                                        <i class="fa fa-toggle-off text-danger"></i>
                                                        <span class="">Restriction Enzyme Activity</span>
                                                    </a>
                                                    <br />
                                                }
                                                else
                                                {
                                                    <i class="fa fa-toggle-off text-muted"></i>
                                                    <span class="text-muted">Restriction Enzyme Activity</span>
                                                    <br />
                                                }
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("HideActivity", "Buffer", new { id = item.id })">
                                                    <i class="fa fa-toggle-on text-danger"></i>
                                                    <span class="">Restriction Enzyme Activity</span>
                                                </a>
                                                <br />
                                            }
                                            
                                            <a href="@Url.Action("Edit", "Buffer", new { id = item.id })">
                                                <i class="fa fa-pencil-square-o text-danger"></i>
                                                <span class="">Edit</span>
                                            </a>
                                            
                                            <a href="@Url.Action("Delete", "Buffer", new { id = item.id })">
                                                <i class="fa fa-trash-o text-danger"></i>
                                                <span class="">Delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
