
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_BioToolsLayout.cshtml";
    var db = new ecloning.Models.ecloningEntities();
    //find the company
    var companies = db.companies;
    int Count = companies.Count();


    
}

@Html.Partial("_BioTools")
<div id="page-wrapper">
    <div class="row">
        <div class="row">
            <div class="col-sm-9">
                <h3 class="text-primary"><span><i class="fa fa-flask">&nbsp;</i></span>Restriction Enzymes by Companies</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <hr/>
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            @if(Count == 0)
            {
                <div class="text-danger">No company found! Please first add a company to continue.</div>
            }
            else
            {
                foreach (var c in companies)
                {

                    //find the enzymes for each company
                    int enzymeNum = 0;
                    var cEnzyme = db.restriction_company.Where(n => n.company_id == c.id);
                    if(cEnzyme.Count() > 0)
                    {
                        enzymeNum = cEnzyme.Select(e => e.enzyme_id).Distinct().Count();
                    }

                    //find the buffers, if no buffer found disable the button
                    int bufferCount = db.buffers.Where(i => i.company_id == c.id).Count();
                    if (bufferCount == 0)
                    {
                        <div class="list-group">
                            <a class="list-group-item disabled" href="@Url.Action("EnzymeList", "RActivity", new { company_id = c.id})">
                                <h4 class="list-group-item-heading">
                                    <i class="fa fa-building-o text-info"></i>
                                    <span class="text-primary"><strong>@c.shortName</strong></span>
                                    <span class="badge pull-right"><span>#Enzymes:</span> @enzymeNum</span>
                                </h4>
                                <p class="list-group-item-text"><span class="text-info">@c.fullName </span><span>@c.des</span></p>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="list-group">
                            <a class="list-group-item" href="@Url.Action("EnzymeList", "RActivity", new { company_id = c.id})">
                                <h4 class="list-group-item-heading">
                                    <i class="fa fa-building-o text-info"></i>
                                    <span class="text-primary"><strong>@c.shortName</strong></span>
                                    <span class="badge pull-right"><span>#Enzymes:</span> @enzymeNum</span>
                                </h4>
                                <p class="list-group-item-text"><span class="text-info">@c.fullName </span><span>@c.des</span></p>
                            </a>
                        </div>
                    }


                }
            }
        </div>
    </div>
</div>

