@model IEnumerable<ecloning.Models.protocol>
@{
    ViewBag.Title = "Protocols";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PersonId = (int)ViewBag.PersonId;
    var Versions = (List<ecloning.Models.ProtocolVersion>)ViewBag.Versions;
}

<div class="">
    <div class="col-sm-offset-1 col-sm-5 col-xs-6">
        <h3 class="text-warning"><i class="fa fa-file-text-o"></i> Protocols</h3>
    </div>
    <div class="col-sm-5 col-xs-6">
        <h3 class="pull-right">
            <a href="@Url.Action("Create", "Protocol")" class="btn btn-danger">
                <i class="fa fa-plus-circle"></i>
                <span>Protocol</span>
            </a>
        </h3>
    </div>
</div>
<div class="clearfix"></div>
<p class="text-info text-center">@TempData["msg"]</p>
<div class="clearfix"></div>
<div class="">
    <div class="col-sm-1 hidden-xs"></div>
    <div class="col-sm-10">
        @if (Model.Count() == 0)
        {
            <br />
            <div class="row">
                <div class="col-sm-1 hidden-xs"></div>
                <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                    <h4 class="text-info">No protocol found.</h4>
                </div>
            </div>
        }
        else
        {   
            <table id="protocolTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="no-sort"></th>
                        <th>
                            Name
                        </th>
                        <th class="no-sort">
                            Version
                        </th>
                        <th>
                            Protocol
                        </th>
                        <th class="no-sort">
                            Comment
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            People
                        </th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var className = "backgroundCorlor" + item.type_id%20;
                        //check whether allow to add new version
                        //only the highest version allow adding new version
                        bool isAllowed = false;
                        foreach (var v in Versions)
                        {
                            if (v.typeId==(int)item.type_id && v.version == (int)item.version)
                            {
                                isAllowed = true;
                                break;
                            }
                        }

                        //get people info
                        var peopleInfo = new ecloning.Models.PeopleInfo((int)item.people_id);
                        <tr>
                            <td class="@className"></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.version)
                            </td>
                            <td>
                                <a href="@Url.Action("Download", "Protocol", new { fileName=item.upload, actionName = "Index" })">
                                    <i class="fa fa-download"></i>
                                    <span>@item.upload.Split('$')[1]</span>
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.des)
                            </td>
                            <td>
                                @if (item.dt != null)
                                {
                                    var day = item.dt.Value.Day;
                                    var month = item.dt.Value.Month;
                                    var year = item.dt.Value.Year;
                                    var dc = new ecloning.Models.DateConvert();
                                    var outDate = dc.GetDate(day, month, year, "ddMMyyyy", "/");
                                    @outDate
                                }
                            </td>
                            <td>
                                @peopleInfo.Name
                            </td>
                            <td>
                                @if (isAllowed && (item.people_id == PersonId || (User.IsInRole("GroupLeader") || User.IsInRole("Assistant"))))
                                {
                                    <a href="@Url.Action("Delete", "Protocol", new { id= item.id})" data-toggle="tooltip" data-placement="top" title="delete this protocol">
                                        <i class="glyphicon glyphicon-trash text-danger"></i>
                                        <span></span>
                                    </a>
                                }
                                else
                                {
                                    <i class="glyphicon glyphicon-trash text-muted"></i>
                                }
                                @if (isAllowed)
                                {
                                    @:|
                                    <a href="@Url.Action("NewVersion", "Protocol", new { id= item.id })" data-toggle="tooltip" data-placement="top" title="add a new version of this protocol">
                                        <i class="fa fa-file-text-o text-danger"></i>
                                        <span></span>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ready(function () {
        $('#protocolTable').DataTable({
            responsive: true,
            "iDisplayLength": 50,
            columnDefs: [
                { targets: 'no-sort', orderable: false }
            ]
        });

        //tooltip
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        //
    });
</script>

